{% extends "base.html" %}

{% block preloader %}
  <div class="preloader">
    <img src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb9218_loader_three-dots-white.svg" loading="lazy" alt="" class="preloader-image">
  </div>
{% endblock %}

{% block content %}
<div style="opacity:0" class="layout">
    <div id="top" class="section overflow-hidden">
      <div class="w-layout-grid grid-8-columns">
        <div id="w-node-fe1dc324-d761-ad6f-ac5c-16b17e920fdd-b6eb91ef" class="half-down">
          <div class="scrolling-loop-wrapper">
            <div class="scrolling-loop">
              <div class="scrolling-loop-item">
                <div class="scrolling-text-xl">
                  Colors
                </div>

                <div class="scrolling-text-xl">
                  Animation
                </div>

                <div class="scrolling-text-xl">
                  Talks
                </div>

                <div class="scrolling-text-xl">
                  Illustration
                </div>

                <div class="scrolling-text-xl">
                  Motion
                </div>
              </div>

              <div class="scrolling-loop-item">
                <div class="scrolling-text-xl">
                  Colors
                </div>

                <div class="scrolling-text-xl">
                  Animation
                </div>

                <div class="scrolling-text-xl">
                  Talks
                </div>

                <div class="scrolling-text-xl">
                  Illustration
                </div>

                <div class="scrolling-text-xl">
                  Motion
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="w-node-fe1dc324-d761-ad6f-ac5c-16b17e920fd0-b6eb91ef">
          <div class="perspective">
            <div class="transform-positive">
              <div class="image-wrapper">
                <div class="trigger-parallax">
                  <img src="{{ asset_path }}assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92f0_pexels-matt-hardy-2658451.jpg" loading="lazy" sizes="100vw" srcset="{{ asset_path }}assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92f0_pexels-matt-hardy-2658451-p-500.jpeg 500w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92f0_pexels-matt-hardy-2658451-p-800.jpeg 800w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92f0_pexels-matt-hardy-2658451-p-1080.jpeg 1080w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92f0_pexels-matt-hardy-2658451.jpg 1500w" alt="" class="image-cover">
                </div>

                <div class="image-overlay"></div>
              </div>
            </div>
          </div>
        </div>

        <div id="w-node-fe1dc324-d761-ad6f-ac5c-16b17e920fd7-b6eb91ef" data-w-id="fe1dc324-d761-ad6f-ac5c-16b17e920fd7">
          <div class="perspective">
            <div class="transform-negative">
              <div class="overlap-image-wrapper">
                <div class="trigger-parallax">
                  <img src="{{ asset_path }}assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92f1_pexels-ron-lach-8736752.jpg" loading="lazy" sizes="(max-width: 767px) 100vw, 666.99658203125px" srcset="{{ asset_path }}assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92f1_pexels-ron-lach-8736752-p-500.jpeg 500w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92f1_pexels-ron-lach-8736752.jpg 667w" alt="" class="image-cover">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-rounded-wrap">
      <div class="overflow-hidden">
        <div class="section-rounded bg-gray-1">
          <div class="vertical-align-center text-align-center">
            <div class="text-extra-large slide-in">
              ✦
            </div>

            <div class="margin-bottom">
              <div class="overflow-hidden">
                <div class="text-extra-large margin-bottom-zero slide-in">
                  Ofelia is a multidisciplinary Designer,<br>
                </div>
              </div>

              <div class="overflow-hidden">
                <div class="text-extra-large margin-bottom-zero slide-in">
                  currently working at Fouroom Inc. and<br>
                </div>
              </div>

              <div class="overflow-hidden">
                <div class="text-extra-large margin-bottom-zero slide-in">
                  specializing in brand identities, editorial<br>
                </div>
              </div>

              <div class="overflow-hidden">
                <div class="text-extra-large margin-bottom-zero slide-in">
                  design and web. She creates design for<br>
                </div>
              </div>
            </div>

            <div id="w-node-fe2defe5-0f49-6597-0ff2-05a9f4b89a76-b6eb91ef" class="text-align-center">
              <p class="slide-in">I am currently working at a digital agency creating visuals for a well known coffee brand and side hustling as a freelancer – ready for new challenges.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section padding-left-small padding-right-small">
      <div class="w-layout-grid title-grid">
        <div id="w-node-_91ef48c0-08d8-2914-5a03-a63b2173a680-b6eb91ef">
          <div class="title-xl">
            Awards
          </div>
        </div>

        <div id="w-node-_91ef48c0-08d8-2914-5a03-a63b2173a683-b6eb91ef">
          <div class="horizontal-align-center">
            <div class="title-xl rounded">
              and
            </div>

            <div class="title-xl">
              Publica
            </div>
          </div>
        </div>

        <div id="w-node-_91ef48c0-08d8-2914-5a03-a63b2173a689-b6eb91ef">
          <div class="title-xl">
            tions
          </div>
        </div>
      </div>

      <div class="half-margin-left">
        <div class="overflow-hidden">
          <h4 class="slide-in-from-bottom-left">Awards<br></h4>
        </div>

        <div class="w-layout-grid list-grid">
          <div class="w-layout-grid list-item">
            <div class="overflow-hidden">
              <div class="slide-in">
                Awwwards Site of the Day
              </div>
            </div>

            <div class="overflow-hidden">
              <div class="slide-in">
                12
              </div>
            </div>
          </div>

          <div class="line-holder">
            <div class="line"></div>
          </div>

          <div class="w-layout-grid list-item">
            <div class="overflow-hidden">
              <div class="slide-in">
                SiteInspire
              </div>
            </div>

            <div class="overflow-hidden">
              <div class="slide-in">
                4
              </div>
            </div>
          </div>

          <div class="line-holder">
            <div class="line"></div>
          </div>

          <div class="w-layout-grid list-item">
            <div class="overflow-hidden">
              <div class="slide-in">
                CSS Design Awards
              </div>
            </div>

            <div class="overflow-hidden">
              <div class="slide-in">
                21
              </div>
            </div>
          </div>

          <div class="line-holder">
            <div class="line"></div>
          </div>

          <div class="w-layout-grid list-item">
            <div class="overflow-hidden">
              <div class="slide-in">
                The FWA
              </div>
            </div>

            <div class="overflow-hidden">
              <div class="slide-in">
                9
              </div>
            </div>
          </div>

          <div class="line-holder">
            <div class="line"></div>
          </div>

          <div class="w-layout-grid list-item">
            <div class="overflow-hidden">
              <div class="slide-in">
                Landbook
              </div>
            </div>

            <div class="overflow-hidden">
              <div class="slide-in">
                15
              </div>
            </div>
          </div>

          <div class="line-holder">
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="half-margin-left margin-top-medium">
        <div class="overflow-hidden">
          <h4 class="slide-in-from-bottom-left">Publications<br></h4>
        </div>

        <div class="w-layout-grid list-grid">
          <div class="w-layout-grid list-item">
            <div id="w-node-ccfc3b05-8fff-7969-aab1-b631ecc486f1-b6eb91ef" class="w-layout-grid list-item-column">
              <div class="overflow-hidden">
                <div class="slide-in">
                  CND Magazine
                </div>
              </div>

              <div class="overflow-hidden">
                <div class="caption slide-in">
                  Barcelona
                </div>
              </div>
            </div>

            <div class="overflow-hidden">
              <div class="slide-in">
                2020
              </div>
            </div>
          </div>

          <div class="line-holder">
            <div class="line"></div>
          </div>

          <div class="w-layout-grid list-item">
            <div class="w-layout-grid list-item-column">
              <div class="overflow-hidden">
                <div class="slide-in">
                  Friends of Friends
                </div>
              </div>

              <div class="overflow-hidden">
                <div class="caption slide-in">
                  Berlin
                </div>
              </div>
            </div>

            <div class="overflow-hidden">
              <div class="slide-in">
                2020
              </div>
            </div>
          </div>

          <div class="line-holder">
            <div class="line"></div>
          </div>

          <div class="w-layout-grid list-item">
            <div class="w-layout-grid list-item-column">
              <div class="overflow-hidden">
                <div class="slide-in">
                  MONOCLE
                </div>
              </div>

              <div class="overflow-hidden">
                <div class="caption slide-in">
                  London
                </div>
              </div>
            </div>

            <div class="overflow-hidden">
              <div class="slide-in">
                2020
              </div>
            </div>
          </div>

          <div class="line-holder">
            <div class="line"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-under">
      <div class="section-under-min-height">
        <div class="sticky-top">
          <div class="fullscreen-black">
            <div class="w-layout-grid navigation-inside-grid">
              <a id="w-node-_49104b29-c69d-c7c6-5e1e-0546f6cacd59-b6eb91ef" href="{{ asset_path }}index.html" class="navigation-inside-link w-inline-block"></a>

              <div class="navigation-inside-text white">
                Home
              </div><img src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d1_icon-next-white.svg" loading="lazy" alt="Next" class="navigation-inside-arrow"><a href="{{ asset_path }}works/" class="navigation-inside-link w-inline-block"></a>

              <div class="navigation-inside-text white">
                Work
              </div><img src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d1_icon-next-white.svg" loading="lazy" alt="Next" class="navigation-inside-arrow"><a id="w-node-_49104b29-c69d-c7c6-5e1e-0546f6cacd61-b6eb91ef" href="{{ asset_path }}pages/shop.html" class="navigation-inside-link w-inline-block"></a>

              <div class="navigation-inside-text white">
                Store
              </div><img src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d1_icon-next-white.svg" loading="lazy" alt="Next" class="navigation-inside-arrow"><a id="w-node-_49104b29-c69d-c7c6-5e1e-0546f6cacd65-b6eb91ef" href="{{ asset_path }}contact/contact-1.html" class="navigation-inside-link w-inline-block"></a>

              <div class="navigation-inside-text white">
                Contact
              </div><img src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d1_icon-next-white.svg" loading="lazy" alt="Next" class="navigation-inside-arrow">
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
