{% extends "base.html" %}

{% block content %}
<div class="layout">
<div class="_1st-section">
<h1>Instructions</h1>
</div>
<div class="section">
<div class="line-holder on-top">
<div class="line"></div>
</div>
<h3>Custom Code</h3>
<p>Inside the Project Settings, in the Custom Code tab you'll notice some style code has been added to the head of each page.This code is to ensure that the text rendering is smooth and consistent across all browsers. It does not require any action on your part.<br/></p>
</div>
</div>
{% endblock %}
