{% extends "base.html" %}

{% block preloader %}
  <div class="preloader">
    <img src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb9218_loader_three-dots-white.svg" loading="lazy" alt="" class="preloader-image">
  </div>
</div>
{% endblock %}

{% block content %}
<div class="layout" style="opacity:0">
<div class="section fullscreen">
<img alt="Logo" class="logo" loading="lazy" src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92c5_logo-black_1-line.svg"/>
<div class="vertical-loop" data-w-id="15defbd3-82f3-da67-106d-5f71d4220c61">
<div class="vertical-loop-item">
<div class="w-layout-grid vertical-loop-item-grid">
<a class="vertical-loop-link w-inline-block" href="../pages/shop.html" id="w-node-_57e22cfc-d51e-6e80-b4dd-0fc9e35ea40b-b6eb9201"></a>
<div class="overflow-hidden">
<img alt="" class="image-cover" loading="lazy" sizes="(max-width: 479px) 91vw, (max-width: 767px) 94vw, (max-width: 991px) 91vw, (max-width: 1219px) 82vw, (max-width: 1279px) 1000px, 77vw" src="../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92fb_pexels-photo-8534251.jpeg" srcset="../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92fb_pexels-photo-8534251-p-500.jpeg 500w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92fb_pexels-photo-8534251-p-800.jpeg 800w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92fb_pexels-photo-8534251.jpeg 1000w"/>
</div>
<div class="vertical-loop-link-text">
<div>
                Shop
              </div>
</div>
</div>
<div class="w-layout-grid vertical-loop-item-grid">
<a class="vertical-loop-link w-inline-block" href="{{ asset_path }}works/" id="w-node-_57e22cfc-d51e-6e80-b4dd-0fc9e35ea407-b6eb9201"></a>
<div class="overflow-hidden">
<img alt="" class="image-cover" loading="lazy" sizes="(max-width: 479px) 91vw, (max-width: 767px) 94vw, (max-width: 991px) 91vw, (max-width: 1219px) 82vw, (max-width: 1279px) 1000px, 77vw" src="../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d7_portrait-05.jpg" srcset="../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d7_portrait-05-p-500.jpeg 500w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d7_portrait-05-p-800.jpeg 800w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d7_portrait-05.jpg 1000w"/>
</div>
<div class="vertical-loop-link-text">
<div>
                Work
              </div>
</div>
</div>
<div class="w-layout-grid vertical-loop-item-grid">
<a class="vertical-loop-link w-inline-block" href="../about/about-3.html" id="w-node-_57e22cfc-d51e-6e80-b4dd-0fc9e35ea403-b6eb9201"></a>
<div class="image-wrapper-16-9">
<img alt="" class="image-background" loading="lazy" sizes="(max-width: 1279px) 59.734375px, 4vw" src="../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92f0_pexels-matt-hardy-2658451.jpg" srcset="../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92f0_pexels-matt-hardy-2658451-p-500.jpeg 500w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92f0_pexels-matt-hardy-2658451-p-800.jpeg 800w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92f0_pexels-matt-hardy-2658451-p-1080.jpeg 1080w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92f0_pexels-matt-hardy-2658451.jpg 1500w"/>
</div>
<div class="vertical-loop-link-text">
<div>
                About
              </div>
</div>
</div>
<div class="w-layout-grid vertical-loop-item-grid">
<a class="vertical-loop-link w-inline-block" href="../contact/contact-3.html" id="w-node-_57e22cfc-d51e-6e80-b4dd-0fc9e35ea40f-b6eb9201"></a>
<div class="image-wrapper-3-2">
<img alt="" class="image-background" loading="lazy" sizes="(max-width: 1279px) 84.171875px, 6vw" src="../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb931d_portrait-01.jpg" srcset="../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb931d_portrait-01-p-500.jpeg 500w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb931d_portrait-01-p-800.jpeg 800w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb931d_portrait-01.jpg 1280w"/>
</div>
<div class="vertical-loop-link-text">
<div>
                Contact
              </div>
</div>
</div>
</div>
<div class="vertical-loop-item">
<div class="w-layout-grid vertical-loop-item-grid">
<a class="vertical-loop-link w-inline-block" href="../pages/shop.html" id="w-node-ba873a78-e9b4-1346-19e0-a7f91d082421-b6eb9201"></a>
<div class="overflow-hidden">
<img alt="" class="image-cover" loading="lazy" sizes="(max-width: 479px) 91vw, (max-width: 767px) 94vw, (max-width: 991px) 91vw, (max-width: 1219px) 82vw, (max-width: 1279px) 1000px, 77vw" src="../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92fb_pexels-photo-8534251.jpeg" srcset="../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92fb_pexels-photo-8534251-p-500.jpeg 500w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92fb_pexels-photo-8534251-p-800.jpeg 800w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92fb_pexels-photo-8534251.jpeg 1000w"/>
</div>
<div class="vertical-loop-link-text">
<div>
                Shop
              </div>
</div>
</div>
<div class="w-layout-grid vertical-loop-item-grid">
<a class="vertical-loop-link w-inline-block" href="{{ asset_path }}works/" id="w-node-ba873a78-e9b4-1346-19e0-a7f91d082428-b6eb9201"></a>
<div class="overflow-hidden">
<img alt="" class="image-cover" loading="lazy" sizes="(max-width: 479px) 91vw, (max-width: 767px) 94vw, (max-width: 991px) 91vw, (max-width: 1219px) 82vw, (max-width: 1279px) 1000px, 77vw" src="../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d7_portrait-05.jpg" srcset="../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d7_portrait-05-p-500.jpeg 500w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d7_portrait-05-p-800.jpeg 800w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d7_portrait-05.jpg 1000w"/>
</div>
<div class="vertical-loop-link-text">
<div>
                Work
              </div>
</div>
</div>
<div class="w-layout-grid vertical-loop-item-grid">
<a class="vertical-loop-link w-inline-block" href="../about/about-3.html" id="w-node-ba873a78-e9b4-1346-19e0-a7f91d08242f-b6eb9201"></a>
<div class="image-wrapper-16-9">
<img alt="" class="image-background" loading="lazy" sizes="(max-width: 1279px) 59.734375px, 4vw" src="../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92f0_pexels-matt-hardy-2658451.jpg" srcset="../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92f0_pexels-matt-hardy-2658451-p-500.jpeg 500w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92f0_pexels-matt-hardy-2658451-p-800.jpeg 800w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92f0_pexels-matt-hardy-2658451-p-1080.jpeg 1080w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92f0_pexels-matt-hardy-2658451.jpg 1500w"/>
</div>
<div class="vertical-loop-link-text">
<div>
                About
              </div>
</div>
</div>
<div class="w-layout-grid vertical-loop-item-grid">
<a class="vertical-loop-link w-inline-block" href="../contact/contact-3.html" id="w-node-ba873a78-e9b4-1346-19e0-a7f91d082436-b6eb9201"></a>
<div class="image-wrapper-3-2">
<img alt="" class="image-background" loading="lazy" sizes="(max-width: 1279px) 84.171875px, 6vw" src="../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb931d_portrait-01.jpg" srcset="../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb931d_portrait-01-p-500.jpeg 500w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb931d_portrait-01-p-800.jpeg 800w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb931d_portrait-01.jpg 1280w"/>
</div>
<div class="vertical-loop-link-text">
<div>
                Contact
              </div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
