{% extends "base.html" %}

{% block preloader %}
  <div class="preloader">
    <img src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb9218_loader_three-dots-white.svg" loading="lazy" alt="" class="preloader-image">
  </div>
{% endblock %}

{% block content %}
<div class="layout" style="opacity:0">
<div class="section-hero-space-top" id="top">
<div class="w-layout-grid title-grid">
<div class="overflow-hidden">
<div class="text-large margin-bottom-zero">
            We create photo content that catches eyes
          </div>
</div>
<div class="overflow-hidden">
<div class="text-large margin-bottom-zero">
            and fosters action. Our main goal is to help startups,
          </div>
</div>
<div class="overflow-hidden">
<div class="text-large margin-bottom-zero">
            and personal brands stand out and take the lead.
          </div>
</div>
</div>
<div class="curved-wrap">
<div class="curved-track">
<div class="curved-perspective">
<div class="curved-01-wrap" style="-webkit-transform:translate3d(20vw, 15vh, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(20deg) rotateZ(6deg) skew(0, 0);-moz-transform:translate3d(20vw, 15vh, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(20deg) rotateZ(6deg) skew(0, 0);-ms-transform:translate3d(20vw, 15vh, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(20deg) rotateZ(6deg) skew(0, 0);transform:translate3d(20vw, 15vh, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(20deg) rotateZ(6deg) skew(0, 0);transform-style:preserve-3d">
<img alt="" class="curved-image-01" loading="lazy" sizes="24vw" src="../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d5_portrait-02.jpg" srcset="../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d5_portrait-02-p-500.jpeg 500w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d5_portrait-02-p-800.jpeg 800w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d5_portrait-02-p-1080.jpeg 1080w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d5_portrait-02.jpg 1333w"/>
</div>
</div>
<div class="curved-perspective">
<div class="curved-02-wrap" style="-webkit-transform:translate3d(10vw, 10vh, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(16deg) rotateZ(6deg) skew(0, 0);-moz-transform:translate3d(10vw, 10vh, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(16deg) rotateZ(6deg) skew(0, 0);-ms-transform:translate3d(10vw, 10vh, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(16deg) rotateZ(6deg) skew(0, 0);transform:translate3d(10vw, 10vh, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(16deg) rotateZ(6deg) skew(0, 0);transform-style:preserve-3d">
<img alt="" class="curved-image-02" loading="lazy" sizes="21vw" src="../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d7_portrait-05.jpg" srcset="../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d7_portrait-05-p-500.jpeg 500w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d7_portrait-05-p-800.jpeg 800w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d7_portrait-05.jpg 1000w"/>
</div>
</div>
<div class="curved-perspective">
<div class="curved-03-wrap" style="-webkit-transform:translate3d(null, 10vh, 1vw) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 10vh, 1vw) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 10vh, 1vw) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 10vh, 1vw) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform-style:preserve-3d">
<img alt="" class="curved-image-03" loading="lazy" sizes="(max-width: 479px) 22vw, 23vw" src="../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d4_portrait-01.jpg" srcset="../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d4_portrait-01-p-500.jpeg 500w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d4_portrait-01-p-800.jpeg 800w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d4_portrait-01-p-1080.jpeg 1080w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d4_portrait-01.jpg 1333w"/>
</div>
</div>
<div class="curved-perspective">
<div class="curved-04-wrap" style="-webkit-transform:translate3d(-10vw, 10vh, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(-16deg) rotateZ(-6deg) skew(0, 0);-moz-transform:translate3d(-10vw, 10vh, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(-16deg) rotateZ(-6deg) skew(0, 0);-ms-transform:translate3d(-10vw, 10vh, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(-16deg) rotateZ(-6deg) skew(0, 0);transform:translate3d(-10vw, 10vh, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(-16deg) rotateZ(-6deg) skew(0, 0);transform-style:preserve-3d">
<img alt="" class="curved-image-04" loading="lazy" sizes="21vw" src="../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d6_portrait-06.jpg" srcset="../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d6_portrait-06-p-500.jpeg 500w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d6_portrait-06-p-800.jpeg 800w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d6_portrait-06.jpg 1000w"/>
</div>
</div>
<div class="curved-perspective">
<div class="curved-05-wrap" style="-webkit-transform:translate3d(-20vw, 15vh, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(-20deg) rotateZ(-6deg) skew(0, 0);-moz-transform:translate3d(-20vw, 15vh, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(-20deg) rotateZ(-6deg) skew(0, 0);-ms-transform:translate3d(-20vw, 15vh, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(-20deg) rotateZ(-6deg) skew(0, 0);transform:translate3d(-20vw, 15vh, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(-20deg) rotateZ(-6deg) skew(0, 0);transform-style:preserve-3d">
<img alt="" class="curved-image-05" loading="lazy" sizes="24vw" src="../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d8_portrait-04.jpg" srcset="../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d8_portrait-04-p-500.jpeg 500w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d8_portrait-04-p-800.jpeg 800w, ../assets/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d8_portrait-04.jpg 1000w"/>
</div>
</div>
</div>
</div>
</div>
<div class="section-under">
<div class="section-under-min-height">
<div class="sticky-top">
<div class="fullscreen-black w-background-video w-background-video-atom" data-autoplay="true" data-loop="true" data-poster-url="https://cdn.prod.website-files.com/613b963b9d55ae9315a4f51e/61eedfa773484962d3c5a4ba_video-2-poster-00001.jpg" data-video-urls="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d3_video-2-transcode.mp4,https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d3_video-2-transcode.webm" data-wf-ignore="true">
<div class="scrolling-loop-wrapper margin-top-small">
<div class="scrolling-loop">
<div class="scrolling-loop-item">
<div class="scrolling-text-lg">
                    Colors
                  </div>
<div class="scrolling-text-lg">
                    Animation
                  </div>
<div class="scrolling-text-lg">
                    Talks
                  </div>
<div class="scrolling-text-lg">
                    Illustration
                  </div>
<div class="scrolling-text-lg">
                    Motion
                  </div>
</div>
<div class="scrolling-loop-item">
<div class="scrolling-text-lg">
                    Colors
                  </div>
<div class="scrolling-text-lg">
                    Animation
                  </div>
<div class="scrolling-text-lg">
                    Talks
                  </div>
<div class="scrolling-text-lg">
                    Illustration
                  </div>
<div class="scrolling-text-lg">
                    Motion
                  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="section overflow-hidden">
<div class="text-align-center margin-bottom-medium">
<div class="overflow-hidden">
<h6 class="heading-h6 slide-in">Selected Works</h6>
</div>
</div>
<div class="cms w-dyn-list">
<div class="cms-works w-dyn-items" role="list">
<div class="cms-item w-dyn-item" role="listitem">
<a class="works-thumb-with-shadow w-inline-block" data-w-id="7ecb3a50-7350-07f3-773b-35bc87158db6" href="../project/bring-back-to-colors.html"></a>
<div class="works-thumb-image-wrap">
<img alt="The Crash" class="works-thumb-image" loading="eager" src="https://cdn.prod.website-files.com/61509145daf7a82714b7a7ec/615413bde87a792e64f3a805_work-thumb-02-artist-webflow-html-template.jpeg"/>
</div>
<div class="works-thumb-title-wrap">
<h5 class="heading-h4">The Crash</h5>
<h6 class="caption">Russell Hepplewhite</h6>
</div>
</div>
<div class="cms-item w-dyn-item" role="listitem">
<a class="works-thumb-with-shadow w-inline-block" data-w-id="7ecb3a50-7350-07f3-773b-35bc87158db6" href="../project/dreaming-about-light.html"></a>
<div class="works-thumb-image-wrap">
<img alt="La Sonnambula" class="works-thumb-image" loading="eager" src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb920a/670f999b7565f6e2fbd1eab2_WhatsApp Image 2024-07-17 at 13.17.10.jpeg"/>
</div>
<div class="works-thumb-title-wrap">
<h5 class="heading-h4">La Sonnambula</h5>
<h6 class="caption">Vincenzo Bellini</h6>
</div>
</div>
<div class="cms-item w-dyn-item" role="listitem">
<a class="works-thumb-with-shadow w-inline-block" data-w-id="7ecb3a50-7350-07f3-773b-35bc87158db6" href="../project/essential-wear.html"></a>
<div class="works-thumb-image-wrap">
<img alt="DIe Fledermaus" class="works-thumb-image" loading="eager" src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb920a/670903a26ae4eb4eb6eb9297_work-thumb-03-artist-webflow-html-template.jpeg"/>
</div>
<div class="works-thumb-title-wrap">
<h5 class="heading-h4">DIe Fledermaus</h5>
<h6 class="caption">JOhan Strauss</h6>
</div>
</div>
<div class="cms-item w-dyn-item" role="listitem">
<a class="works-thumb-with-shadow w-inline-block" data-w-id="7ecb3a50-7350-07f3-773b-35bc87158db6" href="../project/say-exotique.html"></a>
<div class="works-thumb-image-wrap">
<img alt="Masterclass: Rolando Villazón" class="works-thumb-image" loading="eager" src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb920a/670903a26ae4eb4eb6eb9324_work-thumb-04d-artist-webflow-html-template.jpeg"/>
</div>
<div class="works-thumb-title-wrap">
<h5 class="heading-h4">Masterclass: Rolando Villazón</h5>
<h6 class="caption">Wolfgang Amadeus Mozart</h6>
</div>
</div>
</div>
</div>
</div>
<div class="section-rounded-wrap">
<div class="overflow-hidden">
<div class="section-rounded bg-gray-1">
<div class="w-layout-grid numbers-grid">
<div class="line-holder">
<div class="line"></div>
</div>
<div class="w-layout-grid numbers-item">
<div class="overflow-hidden">
<div class="numbers-lg slide-in">
                  87
                </div>
</div>
<div class="overflow-hidden">
<h6 class="slide-in">Projects<br/></h6>
</div>
</div>
<div class="line-holder">
<div class="line"></div>
</div>
<div class="w-layout-grid numbers-item">
<div class="overflow-hidden">
<div class="numbers-lg slide-in">
                  250,366
                </div>
</div>
<div class="overflow-hidden">
<h6 class="slide-in">Miles traveled<br/></h6>
</div>
</div>
<div class="line-holder">
<div class="line"></div>
</div>
<div class="w-layout-grid numbers-item">
<div class="overflow-hidden">
<div class="numbers-lg slide-in">
                  4
                </div>
</div>
<div class="overflow-hidden">
<h6 class="slide-in">Continents worked in<br/></h6>
</div>
</div>
<div class="line-holder">
<div class="line"></div>
</div>
</div>
<div class="text-align-center">
<div class="overflow-hidden">
<h6 class="heading-h6 slide-in">Selected clients</h6>
</div>
</div>
<div class="clients-wrap">
<div class="overflow-hidden">
<div class="slide-in">
                AiAiAi
              </div>
</div>
<div class="overflow-hidden">
<div class="asterisk slide-in">
                âœ³
              </div>
</div>
<div class="overflow-hidden">
<div class="slide-in">
                Adidas
              </div>
</div>
<div class="overflow-hidden">
<div class="asterisk slide-in">
                âœ³
              </div>
</div>
<div class="overflow-hidden">
<div class="slide-in">
                BBC
              </div>
</div>
<div class="overflow-hidden">
<div class="asterisk slide-in">
                âœ³
              </div>
</div>
<div class="overflow-hidden">
<div class="slide-in">
                CARGOLUX
              </div>
</div>
<div class="overflow-hidden">
<div class="asterisk slide-in">
                âœ³
              </div>
</div>
<div class="overflow-hidden">
<div class="slide-in">
                ESPN
              </div>
</div>
<div class="overflow-hidden">
<div class="asterisk slide-in">
                âœ³
              </div>
</div>
<div class="overflow-hidden">
<div class="slide-in">
                Instagram
              </div>
</div>
<div class="overflow-hidden">
<div class="asterisk slide-in">
                âœ³
              </div>
</div>
<div class="overflow-hidden">
<div class="slide-in">
                It's Nice That
              </div>
</div>
<div class="overflow-hidden">
<div class="asterisk slide-in">
                âœ³
              </div>
</div>
<div class="overflow-hidden">
<div class="slide-in">
                Magnum
              </div>
</div>
<div class="overflow-hidden">
<div class="asterisk slide-in">
                âœ³
              </div>
</div>
<div class="overflow-hidden">
<div class="slide-in">
                Pinterest
              </div>
</div>
<div class="overflow-hidden">
<div class="asterisk slide-in">
                âœ³
              </div>
</div>
<div class="overflow-hidden">
<div class="slide-in">
                Skillshare
              </div>
</div>
<div class="overflow-hidden">
<div class="asterisk slide-in">
                âœ³
              </div>
</div>
<div class="overflow-hidden">
<div class="slide-in">
                The New Yorker
              </div>
</div>
<div class="overflow-hidden">
<div class="asterisk slide-in">
                âœ³
              </div>
</div>
<div class="overflow-hidden">
<div class="slide-in">
                VICE
              </div>
</div>
<div class="overflow-hidden">
<div class="asterisk slide-in">
                âœ³
              </div>
</div>
<div class="overflow-hidden">
<div class="slide-in">
                Warner Music
              </div>
</div>
</div>
</div>
</div>
</div>
<div class="section">
<div class="w-layout-grid navigation-inside-grid">
<a class="navigation-inside-link w-inline-block" href="../pages/works.html"></a>
<div class="navigation-inside-text">
          Work
        </div><img alt="Next" class="navigation-inside-arrow" loading="lazy" src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d0_icon-next-black.svg"/><a class="navigation-inside-link w-inline-block" href="../about/about-2.html" id="w-node-_42006551-5e8a-11af-b244-6715c5d093cf-b6eb9200"></a>
<div class="navigation-inside-text">
          About
        </div><img alt="Next" class="navigation-inside-arrow" loading="lazy" src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d0_icon-next-black.svg"/><a class="navigation-inside-link w-inline-block" href="../pages/shop.html" id="w-node-_42006551-5e8a-11af-b244-6715c5d093d3-b6eb9200"></a>
<div class="navigation-inside-text">
          Store
        </div><img alt="Next" class="navigation-inside-arrow" loading="lazy" src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d0_icon-next-black.svg"/><a class="navigation-inside-link w-inline-block" href="../contact/contact-2.html"></a>
<div class="navigation-inside-text">
          Contact
        </div><img alt="Next" class="navigation-inside-arrow" loading="lazy" src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92d0_icon-next-black.svg"/>
</div>
</div>
<div class="footer-2">
<div class="footer-2-min-height">
<div class="footer-2-sticky-top">
<div class="footer-2-section">
<div class="w-layout-grid footer-2-subgrid">
<div>
<div class="text-medium">
                  Don't miss a beat, follow us
                </div>
</div>
<div>
<div class="w-layout-grid contact-links-grid">
<div class="horizontal-align-center">
<div class="italic">
                      instagram/ 
                    </div><a class="link-cta-with-underline w-inline-block" href="https://www.instagram.com" target="_blank"></a>
<div>
                      @Instagram
                    </div>
<div class="cta-underline"></div>
</div>
<div class="horizontal-align-center">
<div class="italic">
                      twitter/ 
                    </div><a class="link-cta-with-underline w-inline-block" href="https://twitter.com" target="_blank"></a>
<div>
                      @Twitter
                    </div>
<div class="cta-underline"></div>
</div>
<div class="horizontal-align-center">
<div class="italic">
                      behance/ 
                    </div><a class="link-cta-with-underline w-inline-block" href="https://www.behance.net" target="_blank"></a>
<div>
                      @Behance
                    </div>
<div class="cta-underline"></div>
</div>
</div>
</div>
<div>
<div class="text-medium">
                  We can't wait to meet you.
                </div>
</div>
<div>
<h5 class="caption">Get here</h5>
<div>
<div class="horizontal-align-center">
<div class="italic">
                      a/ 
                    </div>
<div>
                      234 Nice Street
                    </div>
</div>
<div>
                    Beautiful City QD 456
                  </div>
</div>
</div>
<div>
<div class="text-medium">
                  Say hello, set up a meeting?
                </div>
</div>
<div>
<h5 class="caption">Hire us</h5>
<div>
<div class="horizontal-align-center space">
<div class="italic">
                      e/ 
                    </div><a class="link-cta-with-underline w-inline-block" href="mailto:hello@template"></a>
<div>
                      hello@template.com
                    </div>
<div class="cta-underline"></div>
</div>
<div class="horizontal-align-center space">
<div class="italic">
                      p/ 
                    </div><a class="link-cta-with-underline w-inline-block" href="tel:(+48)56789012"></a>
<div>
                      (+48) 567 890 12
                    </div>
<div class="cta-underline"></div>
</div>
<div class="horizontal-align-center top">
<div class="italic">
                      a/ 
                    </div>
<div class="items-horizontal">
<a class="link-cta-with-underline w-inline-block" href="../template-settings/instructions.html"></a>
<div>
                        Instructions
                      </div>
<div class="cta-underline"></div>
<div class="text-block-7">
                          •
                      </div><a class="link-cta-with-underline w-inline-block" href="../template-settings/style-guide.html"></a>
<div>
                        Style Guide
                      </div>
<div class="cta-underline"></div>
<div class="text-block-7">
                          •
                      </div><a class="link-cta-with-underline w-inline-block" href="../template-settings/licensing.html"></a>
<div>
                        Licensing
                      </div>
<div class="cta-underline"></div>
</div>
</div>
</div>
</div>
</div><a class="footer-2-logo w-inline-block" href="old-home.html"><img alt="Logo" class="logo" loading="lazy" src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92cf_logo-white_1-line.svg"/><img alt="Logo" class="logo" loading="lazy" src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92cf_logo-white_1-line.svg"/></a>
</div>
</div>
</div>
</div>
<div class="navbar w-nav" data-animation="default" data-collapse="all" data-duration="0" data-easing="ease" data-easing2="ease" role="banner">
<div class="w-layout-grid navbar-grid">
<a class="brand-fluent w-nav-brand" href="old-home.html" id="w-node-_61741727-a985-f89d-69bc-5bfae82bc78c-e82bc78a"></a>
<div class="logo">
<span class="text-span">Gabe Clarke</span>
</div>
<div class="navbar-name">
<div class="heading-brand">
            Tenor
          </div>
</div>
<div class="w-layout-grid navmenu-grid">
<div id="w-node-_61741727-a985-f89d-69bc-5bfae82bc793-e82bc78a">
<div class="w-layout-grid contact-links-grid">
<div class="horizontal-align-center">
<div class="italic">
                  instagram/ 
                </div><a class="link-cta-with-underline w-inline-block" href="https://www.instagram.com" target="_blank"></a>
<div>
                  @Instagram
                </div>
<div class="cta-underline"></div>
</div>
<div class="horizontal-align-center">
<div class="italic">
                  twitter/ 
                </div><a class="link-cta-with-underline w-inline-block" href="https://twitter.com" target="_blank"></a>
<div>
                  @Twitter
                </div>
<div class="cta-underline"></div>
</div>
<div class="horizontal-align-center">
<div class="italic">
                  behance/ 
                </div><a class="link-cta-with-underline w-inline-block" href="https://www.behance.net" target="_blank"></a>
<div>
                  @Behance
                </div>
<div class="cta-underline"></div>
</div>
</div>
</div>
<div class="w-layout-grid navmenu-grid-halves" id="w-node-_61741727-a985-f89d-69bc-5bfae82bc794-e82bc78a">
<div class="navmenu-line"></div>
<div class="navmenu-links">
<a aria-current="page" class="navmenu-link w-inline-block w--current" href="home-2.html"></a>
<div class="navmenu-link-trigger color-white">
                01
              </div>
<div class="navmenu-link-trigger">
                Home
              </div>
<div class="navmenu-line divider"></div><a class="navmenu-link w-inline-block" href="../about/about-2.html"></a>
<div class="navmenu-link-trigger color-white">
                02
              </div>
<div class="navmenu-link-trigger">
                About
              </div>
<div class="navmenu-line divider"></div><a class="navmenu-link w-inline-block" href="../pages/works.html"></a>
<div class="navmenu-link-trigger color-white">
                03
              </div>
<div class="navmenu-link-trigger">
                Projects
              </div>
<div class="navmenu-line divider"></div><a class="navmenu-link w-inline-block" href="../pages/shop.html"></a>
<div class="navmenu-link-trigger color-white">
                04
              </div>
<div class="navmenu-link-trigger">
                Shop
              </div>
<div class="navmenu-line divider"></div><a class="navmenu-link w-inline-block" href="../contact/contact-3.html"></a>
<div class="navmenu-link-trigger color-white">
                05
              </div>
<div class="navmenu-link-trigger">
                Contacts
              </div>
</div>
<div class="oveflow-hidden">
<div class="horizontal-align-center">
<div class="italic">
                  Buy/ 
                </div><a class="link-cta-with-underline w-inline-block" href="https://webflow.com/templates/html/ofelia-portfolio-website-template" target="_blank"></a>
<div>
                  @Webflow
                </div>
<div class="cta-underline"></div>
</div>
</div>
</div>
</div>
<div class="menu-button w-nav-button" data-w-id="61741727-a985-f89d-69bc-5bfae82bc7e5" id="w-node-_61741727-a985-f89d-69bc-5bfae82bc7e5-e82bc78a">
<div class="menu-btn-text-1">
            drag_handle
          </div>
</div>
</div>
<div class="line-bottom"></div>
</div>
</div>
{% endblock %}
