{% extends "base.html" %}

{% block preloader %}
  <div class="preloader">
    <img src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb9218_loader_three-dots-white.svg" loading="lazy" alt="" class="preloader-image">
  </div>
{% endblock %}

{% block content %}
<div class="layout" style="opacity:0">
<div class="_1st-section" id="top">
<div class="w-layout-grid grid-8-columns">
<div class="contact-title-wrap" id="w-node-_4c9eb25c-1994-2a85-6f35-35eb46e33dcb-b6eb9250">
<h1 class="title-md margin-bottom-zero mobile-center">Media</h1>
</div>
<div id="w-node-_4c9eb25c-1994-2a85-6f35-35eb46e33de7-b6eb9250">
<div class="scrolling-loop-wrapper">
<div class="scrolling-loop">
<div class="scrolling-loop-item">
<div class="scrolling-text-xl">
                  Gabe
                </div>
<div class="scrolling-text-xl">
                  Clarke
                </div>
</div>
<div class="scrolling-loop-item"></div>
</div>
</div>
</div>
</div>
</div>
<div class="section overflow-hidden">
<div class="work-heading">
<div class="overflow-hidden">
<h6 class="heading-h6">Selected Works</h6>
</div>
</div>
<div class="circled-cms w-dyn-list">
<div class="circled-cms-list detail-copy w-dyn-items" role="list">
<div class="circled-thumb detail w-dyn-item" role="listitem">
<a class="circled-thumb-link w-inline-block" href="{{ asset_path }}works/#gallery">
<div class="circled-thumb-image-wrap">
<img alt="Gallery" class="circled-thumb-image" loading="eager" src="{{ asset_path }}media/die-fledermaus/671238f1b24180a785a2046d_20210704-_DSC2240_web-p-800.jpg"/>
</div>
<div class="circled-thumb-info">
<h5 class="circled-thumb-title">Gallery</h5>
<h6 class="caption color-gray-3">Photography</h6>
</div>
</a>
</div>
<div class="circled-thumb detail w-dyn-item" role="listitem">
<a class="circled-thumb-link w-inline-block" href="{{ asset_path }}works/#video">
<div class="circled-thumb-image-wrap">
<img alt="Video" class="circled-thumb-image" loading="eager" src="https://img.youtube.com/vi/1_D3rzt2sdE/maxresdefault.jpg"/>
</div>
<div class="circled-thumb-info">
<h5 class="circled-thumb-title">Video</h5>
<h6 class="caption color-gray-3">Performances</h6>
</div>
</a>
</div>
<div class="circled-thumb detail w-dyn-item" role="listitem">
<a class="circled-thumb-link w-inline-block" href="{{ asset_path }}works/#audio">
<div class="circled-thumb-image-wrap">
<img alt="Audio" class="circled-thumb-image" loading="eager" src="https://img.youtube.com/vi/kf4SlmUd4b4/maxresdefault.jpg"/>
</div>
<div class="circled-thumb-info">
<h5 class="circled-thumb-title">Audio</h5>
<h6 class="caption color-gray-3">Recordings</h6>
</div>
</a>
</div>
</div>
</div>
</div>
</div>
{% endblock %}

