{% extends "base.html" %}

{% block content %}
<div class="layout">
<div class="_1st-section">
<h1>Licensing</h1>
<p>All graphical assets in this template are licensed for personal and commercial use. If you'd like to use a specific asset, please check the license below.<br/></p>
</div>
<div class="section">
<div class="line-holder on-top">
<div class="line"></div>
</div>
<h3>Photography</h3>
<p>All photography is sourced from <a class="text-link" href="https://unsplash.com/license" target="_blank">Unsplash</a> or <a class="text-link" href="https://www.pexels.com/de-de/collections/ofelia-webflow-template-julzu2j/" target="_blank">Pexels</a> and is free to use in your projects.<br/></p>
</div>
<div class="section">
<div class="line-holder on-top">
<div class="line"></div>
</div>
<h3>Typography</h3>
<p><strong>New York</strong> is a new free font created by <a class="text-link" href="https://www.behance.net/gallery/106212351/NewYork-Typeface-FREE" target="_blank">Artem Nevsky</a>. Cormorant Garamond and Lexend Exa can be obtain from Google Fonts directly.<br/></p>
</div>
</div>
{% endblock %}
