{% extends "base.html" %}

{% block preloader %}
  <div class="preloader">
    <img src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb9218_loader_three-dots-white.svg" loading="lazy" alt="" class="preloader-image">
  </div>
</div>
{% endblock %}

{% block content %}
<div class="layout" style="opacity:0">
<div class="section min-h-85" id="top">
<div class="w-layout-grid grid-3-to-1">
<div>
<h1 class="title-huge">Get In Touch</h1>
</div>
<div class="w-layout-grid contact-links-grid-lg">
<div>
<p class="caption">Email</p><a class="link-cta-with-underline w-inline-block" href="mailto:info@template.io"></a>
<div>
              info@template.io
            </div>
<div class="cta-underline"></div>
</div>
<div>
<p class="caption">Phone</p><a class="link-cta-with-underline w-inline-block" href="tel:+49123456789"></a>
<div>
              +49123456789
            </div>
<div class="cta-underline"></div>
</div>
<div>
<p class="caption">Office</p><a class="link-cta-with-underline multi w-inline-block" href="https://twitter.com/fouroomdotco" target="_blank"></a>
<div class="overflow-hidden">
<div>
                234 Nice Street
              </div>
<div class="cta-underline"></div>
</div>
<div class="overflow-hidden">
<div class="cta-underline"></div>
<div>
                Beautiful City
              </div>
</div>
<div class="overflow-hidden">
<div class="cta-underline"></div>
<div>
                QD 456
              </div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
