{% extends "base.html" %}

{% block preloader %}
  <div class="preloader">
    <img src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb9218_loader_three-dots-white.svg" loading="lazy" alt="" class="preloader-image">
  </div>
</div>
{% endblock %}

{% block content %}
<div class="layout" style="opacity:0">
<div class="_1st-section">
<div class="w-layout-grid title-grid margin-bottom-medium">
<div id="w-node-_5c122b06-2e90-d4ec-da0f-745855243c3c-b6eb91f8">
<div class="title-xl">
            Contact
          </div>
</div>
<div id="w-node-_5c122b06-2e90-d4ec-da0f-745855243c3f-b6eb91f8">
<div class="horizontal-align-center">
<div class="title-xl rounded">
              and
            </div>
<div class="title-xl">
              News
            </div>
</div>
</div>
<div id="w-node-_5c122b06-2e90-d4ec-da0f-745855243c45-b6eb91f8">
<div class="title-xl">
            Letter
          </div>
</div>
</div>
<div class="half-margin-right">
<div class="overflow-hidden">
<h4 class="slide-in-from-bottom-left">Representation<br/></h4>
</div>
<div class="w-layout-grid list-grid">
<div class="w-layout-grid list-item">
<div class="w-layout-grid list-item-column" id="w-node-_18e43305-4b32-a4d7-3555-f6e6c28b0324-b6eb91f8">
<div class="overflow-hidden">
<div class="slide-in">
                  Silvia Moreo
                </div>
</div>
<div class="overflow-hidden">
<div class="caption slide-in">
                  234 Nice Street<br/>
                  Beautiful City QD 456
                </div>
</div>
</div>
<div class="overflow-hidden">
<a class="link-cta-with-underline w-inline-block" href="mailto:silvia.moreo@template.io"></a>
<div class="slide-in">
                silvia.moreo@template.io
              </div>
<div class="cta-underline"></div>
</div>
</div>
<div class="line-holder">
<div class="line"></div>
</div>
</div>
</div>
<div class="half-margin-right margin-top-medium">
<div class="overflow-hidden">
<h4 class="slide-in-from-bottom-left">Studio<br/></h4>
</div>
<div class="w-layout-grid list-grid">
<div class="w-layout-grid list-item">
<div class="w-layout-grid list-item-column" id="w-node-_3c93f165-f5f6-1164-2832-1467d5a3131f-b6eb91f8">
<div class="overflow-hidden">
<div class="slide-in">
                  Antonio West
                </div>
</div>
<div class="overflow-hidden">
<div class="caption slide-in">
                  234 Nice Street<br/>
                  Beautiful City QD 456
                </div>
</div>
</div>
<div class="overflow-hidden">
<a class="link-cta-with-underline w-inline-block" href="mailto:antonio.west@template.io"></a>
<div class="slide-in">
                antonio.west@template.io
              </div>
<div class="cta-underline"></div>
</div>
</div>
<div class="line-holder">
<div class="line"></div>
</div>
</div>
</div>
<div class="half-margin-right margin-top-medium">
<div class="overflow-hidden">
<h4 class="slide-in-from-bottom-left">Social<br/></h4>
</div>
<div class="w-layout-grid list-grid">
<div class="w-layout-grid list-item">
<div class="overflow-hidden">
<div class="slide-in">
                Instagram
              </div>
</div>
<div class="overflow-hidden">
<a class="link-cta-with-underline w-inline-block" href="https://www.instagram.com" target="_blank"></a>
<div class="slide-in">
                @instagram
              </div>
<div class="cta-underline"></div>
</div>
</div>
<div class="line-holder">
<div class="line"></div>
</div>
<div class="w-layout-grid list-item">
<div class="overflow-hidden">
<div class="slide-in">
                Twitter
              </div>
</div>
<div class="overflow-hidden">
<a class="link-cta-with-underline w-inline-block" href="https://www.twitter.com" target="_blank"></a>
<div class="slide-in">
                @twitter
              </div>
<div class="cta-underline"></div>
</div>
</div>
<div class="line-holder">
<div class="line"></div>
</div>
<div class="w-layout-grid list-item">
<div class="overflow-hidden">
<div class="slide-in">
                Behance
              </div>
</div>
<div class="overflow-hidden">
<a class="link-cta-with-underline w-inline-block" href="https://www.behance.com" target="_blank"></a>
<div class="slide-in">
                @behance
              </div>
<div class="cta-underline"></div>
</div>
</div>
<div class="line-holder">
<div class="line"></div>
</div>
</div>
</div>
<div class="half-margin-right margin-top-medium">
<div class="overflow-hidden">
<h4 class="slide-in-from-bottom-left">Newsletter<br/></h4>
</div>
<div class="form-block w-form">
<form class="form-vertical" data-name="Email Form" data-wf-element-id="299a5c5d-d634-00e9-7986-2d0bf1e65f34" data-wf-page-id="670903a26ae4eb4eb6eb91f8" id="email-form" method="get" name="email-form">
<input class="text-field w-input" data-name="Email 2" id="email-2" maxlength="256" name="email-2" placeholder="Email" required="" type="email"/><input class="button inside w-button" data-wait="Please wait..." id="w-node-_299a5c5d-d634-00e9-7986-2d0bf1e65f38-b6eb91f8" type="submit" value="Subscribe"/>
</form>
<div class="success w-form-done">
<div>
              Thank you! Your submission has been received!
            </div>
</div>
<div class="error w-form-fail">
<div>
              Oops! Something went wrong while submitting the form.
            </div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
