{% extends "base.html" %}

{% block preloader %}
  <div class="preloader">
    <img src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb9218_loader_three-dots-white.svg" loading="lazy" alt="" class="preloader-image">
  </div>
{% endblock %}

{% block content %}
<div class="layout" style="opacity:0">
<div class="_1st-section">
<div class="w-layout-grid title-grid margin-bottom-medium">
<div id="w-node-_5c122b06-2e90-d4ec-da0f-745855243c3c-b6eb91f8">
<div class="title-xl">
            Contact
          </div>
</div>
<div id="w-node-_5c122b06-2e90-d4ec-da0f-745855243c3f-b6eb91f8">
<div class="horizontal-align-center">
<div class="title-xl rounded">
              and
            </div>
<div class="title-xl">
              News
            </div>
</div>
</div>
<div id="w-node-_5c122b06-2e90-d4ec-da0f-745855243c45-b6eb91f8">
<div class="title-xl">
            Letter
          </div>
</div>
</div>
<div class="half-margin-right">
<div class="overflow-hidden">
<h4 class="slide-in-from-bottom-left">Representation<br/></h4>
</div>
<div class="w-layout-grid list-grid">
<div class="w-layout-grid list-item">
<div class="w-layout-grid list-item-column" id="w-node-_18e43305-4b32-a4d7-3555-f6e6c28b0324-b6eb91f8">
<div class="overflow-hidden">
<div class="slide-in">
                  Silvia Moreo
                </div>
</div>
<div class="overflow-hidden">
<div class="caption slide-in">
                  234 Nice Street<br/>
                  Beautiful City QD 456
                </div>
</div>
</div>
<div class="overflow-hidden">
<a class="link-cta-with-underline w-inline-block" href="mailto:silvia.moreo@template.io"></a>
<div class="slide-in">
                silvia.moreo@template.io
              </div>
<div class="cta-underline"></div>
</div>
</div>
<div class="line-holder">
<div class="line"></div>
</div>
</div>
</div>
<div class="half-margin-right margin-top-medium">
<div class="overflow-hidden">
<h4 class="slide-in-from-bottom-left">Studio<br/></h4>
</div>
<div class="w-layout-grid list-grid">
<div class="w-layout-grid list-item">
<div class="w-layout-grid list-item-column" id="w-node-_3c93f165-f5f6-1164-2832-1467d5a3131f-b6eb91f8">
<div class="overflow-hidden">
<div class="slide-in">
                  Antonio West
                </div>
</div>
<div class="overflow-hidden">
<div class="caption slide-in">
                  234 Nice Street<br/>
                  Beautiful City QD 456
                </div>
</div>
</div>
<div class="overflow-hidden">
<a class="link-cta-with-underline w-inline-block" href="mailto:antonio.west@template.io"></a>
<div class="slide-in">
                antonio.west@template.io
              </div>
<div class="cta-underline"></div>
</div>
</div>
<div class="line-holder">
<div class="line"></div>
</div>
</div>
</div>
<div class="half-margin-right margin-top-medium">
<div class="overflow-hidden">
<h4 class="slide-in-from-bottom-left">Social<br/></h4>
</div>
<div class="w-layout-grid list-grid">
<div class="w-layout-grid list-item">
<div class="overflow-hidden">
<div class="slide-in">
                Instagram
              </div>
</div>
<div class="overflow-hidden">
<a class="link-cta-with-underline w-inline-block" href="https://www.instagram.com" target="_blank"></a>
<div class="slide-in">
                @instagram
              </div>
<div class="cta-underline"></div>
</div>
</div>
<div class="line-holder">
<div class="line"></div>
</div>
<div class="w-layout-grid list-item">
<div class="overflow-hidden">
<div class="slide-in">
                Twitter
              </div>
</div>
<div class="overflow-hidden">
<a class="link-cta-with-underline w-inline-block" href="https://www.twitter.com" target="_blank"></a>
<div class="slide-in">
                @twitter
              </div>
<div class="cta-underline"></div>
</div>
</div>
<div class="line-holder">
<div class="line"></div>
</div>
<div class="w-layout-grid list-item">
<div class="overflow-hidden">
<div class="slide-in">
                Behance
              </div>
</div>
<div class="overflow-hidden">
<a class="link-cta-with-underline w-inline-block" href="https://www.behance.com" target="_blank"></a>
<div class="slide-in">
                @behance
              </div>
<div class="cta-underline"></div>
</div>
</div>
<div class="line-holder">
<div class="line"></div>
</div>
</div>
</div>
<div class="half-margin-right margin-top-medium">
<div class="overflow-hidden">
<h4 class="slide-in-from-bottom-left">Newsletter<br/></h4>
</div>
<div class="form-block w-form">
<form class="form-vertical" data-name="Email Form" data-wf-element-id="299a5c5d-d634-00e9-7986-2d0bf1e65f34" data-wf-page-id="670903a26ae4eb4eb6eb91f8" id="email-form" method="get" name="email-form">
<input class="text-field w-input" data-name="Email 2" id="email-2" maxlength="256" name="email-2" placeholder="Email" required="" type="email"/><input class="button inside w-button" data-wait="Please wait..." id="w-node-_299a5c5d-d634-00e9-7986-2d0bf1e65f38-b6eb91f8" type="submit" value="Subscribe"/>
</form>
<div class="success w-form-done">
<div>
              Thank you! Your submission has been received!
            </div>
</div>
<div class="error w-form-fail">
<div>
              Oops! Something went wrong while submitting the form.
            </div>
</div>
</div>
</div>
</div>
<div class="footer-3">
<a aria-current="page" class="footer-3-title w-inline-block w--current" href="contact-3.html"></a>
<div>
        Let's create beautiful projects together!
      </div>
<div class="w-layout-grid footer-3-social">
<a class="link-cta-with-underline w-inline-block" href="https://www.instagram.com/fouroom.co/" target="_blank"></a>
<div>
          Twitter
        </div>
<div class="cta-underline"></div><a class="link-cta-with-underline w-inline-block" href="https://www.instagram.com/fouroom.co/" target="_blank"></a>
<div>
          LinkedIn
        </div>
<div class="cta-underline"></div><a class="link-cta-with-underline w-inline-block" href="https://www.instagram.com/fouroom.co/" target="_blank"></a>
<div>
          Instagram
        </div>
<div class="cta-underline"></div><a class="link-cta-with-underline w-inline-block" href="https://www.dribbble.com/" target="_blank"></a>
<div>
          Dribbble
        </div>
<div class="cta-underline"></div>
</div>
<div class="w-layout-grid footer-3-meta-grid">
<div class="w-layout-grid footer-3-meta-links" id="w-node-_0f1e8b20-bd3c-9d63-82da-c3d8ec555890-206e2666">
<div id="w-node-_0f1e8b20-bd3c-9d63-82da-c3d8ec555891-206e2666">
             ©
          </div><a class="link-cta-with-underline w-inline-block" href="../template-settings/instructions.html"></a>
<div>
            Instructions
          </div>
<div class="cta-underline"></div><a class="link-cta-with-underline w-inline-block" href="../template-settings/style-guide.html"></a>
<div>
            Style Guide
          </div>
<div class="cta-underline"></div><a class="link-cta-with-underline w-inline-block" href="../template-settings/licensing.html"></a>
<div>
            Licenses
          </div>
<div class="cta-underline"></div><a class="link-cta-with-underline w-inline-block" href="../template-settings/changelog.html"></a>
<div>
            Changelog
          </div>
<div class="cta-underline"></div>
</div><a class="footer-3-logo w-inline-block" href="../home/old-home.html" id="w-node-_0f1e8b20-bd3c-9d63-82da-c3d8ec5558a3-206e2666"><img alt="Logo" class="logo" loading="lazy" src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92c5_logo-black_1-line.svg"/></a>
<div class="w-layout-grid footer-3-meta-links" id="w-node-_0f1e8b20-bd3c-9d63-82da-c3d8ec5558a6-206e2666">
<div class="horizontal-align-center" id="w-node-_0f1e8b20-bd3c-9d63-82da-c3d8ec5558a7-206e2666">
<div class="italic">
              site by/ 
            </div><a class="link-cta-with-underline w-inline-block" href="https://www.fouroom.co/" target="_blank"></a>
<div>
              Fouroom
            </div>
<div class="cta-underline"></div>
</div>
<div id="w-node-_0f1e8b20-bd3c-9d63-82da-c3d8ec5558ae-206e2666">
            âœ³
          </div>
<div class="horizontal-align-center" id="w-node-_0f1e8b20-bd3c-9d63-82da-c3d8ec5558b0-206e2666">
<div class="italic">
              powered by/ 
            </div><a class="link-cta-with-underline w-inline-block" href="https://www.webflow.com/" target="_blank"></a>
<div>
              Webflow
            </div>
<div class="cta-underline"></div>
</div>
</div>
</div>
</div>
<div class="navbar w-nav" data-animation="default" data-collapse="all" data-duration="0" data-easing="ease" data-easing2="ease" role="banner">
<div class="w-layout-grid navbar-grid">
<a class="brand-fluent w-nav-brand" href="../home/old-home.html" id="w-node-_61741727-a985-f89d-69bc-5bfae82bc78c-e82bc78a"></a>
<div class="logo">
<span class="text-span">Gabe Clarke</span>
</div>
<div class="navbar-name">
<div class="heading-brand">
            Tenor
          </div>
</div>
<div class="w-layout-grid navmenu-grid">
<div id="w-node-_61741727-a985-f89d-69bc-5bfae82bc793-e82bc78a">
<div class="w-layout-grid contact-links-grid">
<div class="horizontal-align-center">
<div class="italic">
                  instagram/ 
                </div><a class="link-cta-with-underline w-inline-block" href="https://www.instagram.com" target="_blank"></a>
<div>
                  @Instagram
                </div>
<div class="cta-underline"></div>
</div>
<div class="horizontal-align-center">
<div class="italic">
                  twitter/ 
                </div><a class="link-cta-with-underline w-inline-block" href="https://twitter.com" target="_blank"></a>
<div>
                  @Twitter
                </div>
<div class="cta-underline"></div>
</div>
<div class="horizontal-align-center">
<div class="italic">
                  behance/ 
                </div><a class="link-cta-with-underline w-inline-block" href="https://www.behance.net" target="_blank"></a>
<div>
                  @Behance
                </div>
<div class="cta-underline"></div>
</div>
</div>
</div>
<div class="w-layout-grid navmenu-grid-halves" id="w-node-_61741727-a985-f89d-69bc-5bfae82bc794-e82bc78a">
<div class="navmenu-line"></div>
<div class="navmenu-links">
<a class="navmenu-link w-inline-block" href="../home/home-3.html"></a>
<div class="navmenu-link-trigger color-white">
                01
              </div>
<div class="navmenu-link-trigger">
                Home
              </div>
<div class="navmenu-line divider"></div><a class="navmenu-link w-inline-block" href="../about/about-3.html"></a>
<div class="navmenu-link-trigger color-white">
                02
              </div>
<div class="navmenu-link-trigger">
                About
              </div>
<div class="navmenu-line divider"></div><a class="navmenu-link w-inline-block" href="../pages/works.html"></a>
<div class="navmenu-link-trigger color-white">
                03
              </div>
<div class="navmenu-link-trigger">
                Projects
              </div>
<div class="navmenu-line divider"></div><a class="navmenu-link w-inline-block" href="../pages/shop.html"></a>
<div class="navmenu-link-trigger color-white">
                04
              </div>
<div class="navmenu-link-trigger">
                Shop
              </div>
<div class="navmenu-line divider"></div><a aria-current="page" class="navmenu-link w-inline-block w--current" href="contact-3.html"></a>
<div class="navmenu-link-trigger color-white">
                05
              </div>
<div class="navmenu-link-trigger">
                Contacts
              </div>
</div>
<div class="oveflow-hidden">
<div class="horizontal-align-center">
<div class="italic">
                  Buy/ 
                </div><a class="link-cta-with-underline w-inline-block" href="https://webflow.com/templates/html/ofelia-portfolio-website-template" target="_blank"></a>
<div>
                  @Webflow
                </div>
<div class="cta-underline"></div>
</div>
</div>
</div>
</div>
<div class="menu-button w-nav-button" data-w-id="61741727-a985-f89d-69bc-5bfae82bc7e5" id="w-node-_61741727-a985-f89d-69bc-5bfae82bc7e5-e82bc78a">
<div class="menu-btn-text-1">
            drag_handle
          </div>
</div>
</div>
<div class="line-bottom"></div>
</div>
</div>
{% endblock %}
