{% extends "base.html" %}

{% block preloader %}
  <div class="preloader">
    <img src="{{ asset_path }}assets/img/loader-three-dots-white.svg" loading="lazy" alt="" class="preloader-image">
  </div>
{% endblock %}

{% block content %}
<div class="layout" style="opacity:0">
<h1 class="sr-only">Contact Gabe Clarke</h1>
<div class="_1st-section" id="top">
<div class="w-layout-grid contact-grid">
<div class="contact-title-wrap" id="w-node-c1760f95-618e-de8c-6a50-97bf95617497-b6eb91f5">
<h2 class="title-md margin-bottom-zero">Simply leave your<br/>
            message</h2>
</div>
<div id="w-node-_4d9cc38d-9091-b3c8-a4b3-a99d3f9cd0c3-b6eb91f5">
<div class="form-block w-form">
<form class="form-vertical" data-name="Email Form" data-wf-element-id="b430aa93-1016-89b8-0baa-6dbee8ec0068" data-wf-page-id="670903a26ae4eb4eb6eb91f5" id="email-form" method="get" name="email-form">
<input class="text-field w-input" data-name="Name 2" id="name-2" maxlength="256" name="name-2" placeholder="Name" type="text"/><input class="text-field w-input" data-name="Email 2" id="email-2" maxlength="256" name="email-2" placeholder="Email" required="" type="email"/>
<textarea class="text-field textarea w-input" data-name="Field 2" id="field-2" maxlength="5000" name="field-2" placeholder="Message">
</textarea><input class="button w-button" data-wait="Please wait..." id="w-node-b430aa93-1016-89b8-0baa-6dbee8ec006c-b6eb91f5" type="submit" value="&amp; Send it"/>
</form>
<div class="success w-form-done">
<div>
                Thank you! Your submission has been received!
              </div>
</div>
<div class="error w-form-fail">
<div>
                Oops! Something went wrong while submitting the form.
              </div>
</div>
</div>
</div>
<div id="w-node-_62738f02-b87c-c418-68cc-fa462cf42939-b6eb91f5">
<div class="scrolling-loop-wrapper">
<div class="scrolling-loop">
<div class="scrolling-loop-item">
<div class="scrolling-text-xl">
                  Contacts
                </div>
<div class="scrolling-text-xl">
                  Contacts
                </div>
<div class="scrolling-text-xl">
                  Contacts
                </div>
<div class="scrolling-text-xl">
                  Contacts
                </div>
<div class="scrolling-text-xl">
                  Contacts
                </div>
</div>
<div class="scrolling-loop-item">
<div class="scrolling-text-xl">
                  Contacts
                </div>
<div class="scrolling-text-xl">
                  Contacts
                </div>
<div class="scrolling-text-xl">
                  Contacts
                </div>
<div class="scrolling-text-xl">
                  Contacts
                </div>
<div class="scrolling-text-xl">
                  Contacts
                </div>
</div>
</div>
</div>
</div>
<div id="w-node-_1e0491dc-da0b-f89e-6fd6-b4aa58159ea0-b6eb91f5">
<div class="w-layout-grid contact-links-grid">
<div class="horizontal-align-center">
<div class="italic">
                instagram/
              </div><a class="link-cta-with-underline w-inline-block" href="https://www.instagram.com/gabe.clarke/" target="_blank">
<div>@gabe.clarke</div>
<div class="cta-underline"></div>
</a>
</div>
<div class="horizontal-align-center">
<div class="italic">
                twitter/
              </div><a class="link-cta-with-underline w-inline-block" href="https://twitter.com/gabeclarketenor" target="_blank">
<div>@gabeclarketenor</div>
<div class="cta-underline"></div>
</a>
</div>
<div class="horizontal-align-center">
<div class="italic">
                operabase/
              </div><a class="link-cta-with-underline w-inline-block" href="https://www.operabase.com/gabe-clarke-a2123782" target="_blank">
<div>Gabe Clarke</div>
<div class="cta-underline"></div>
</a>
</div>
</div>
</div>
</div>
</div>
<div class="section">
<div class="w-layout-grid title-grid margin-bottom-medium">
<div id="w-node-_5c122b06-2e90-d4ec-da0f-745855243c3c-b6eb91f8">
<div class="title-xl">
            Contact
          </div>
</div>
</div>
<div class="half-margin-right">
<div class="overflow-hidden">
<h4 class="slide-in-from-bottom-left">Bookings<br/></h4>
</div>
<div class="w-layout-grid list-grid">
<div class="w-layout-grid list-item">
<div class="overflow-hidden">
<div class="slide-in">Opernagentur Winfried Hofinger</div>
<div class="caption slide-in">Friedrich-Lau-Str. 20, 40474 Düsseldorf</div>
</div>
</div>
<div class="line-holder">
<div class="line"></div>
</div>
<div class="w-layout-grid list-item">
<div class="overflow-hidden">
<div class="slide-in">Email</div>
</div>
<div class="overflow-hidden">
<a class="link-cta-with-underline w-inline-block" href="mailto:opera@hofinger-agentur.de">
<div class="slide-in">opera@hofinger-agentur.de</div>
<div class="cta-underline"></div>
</a>
</div>
</div>
<div class="line-holder">
<div class="line"></div>
</div>
<div class="w-layout-grid list-item">
<div class="overflow-hidden">
<div class="slide-in">Telephone</div>
</div>
<div class="overflow-hidden">
<a class="link-cta-with-underline w-inline-block" href="tel:+492115160060">
<div class="slide-in">+49 211 516006 0</div>
<div class="cta-underline"></div>
</a>
</div>
</div>
<div class="line-holder">
<div class="line"></div>
</div>
<div class="w-layout-grid list-item">
<div class="overflow-hidden">
<div class="slide-in">Winfried Hofinger</div>
</div>
<div class="overflow-hidden">
<a class="link-cta-with-underline w-inline-block" href="tel:+4921151600601">
<div class="slide-in">+49 211 516006 01</div>
<div class="cta-underline"></div>
</a>
</div>
</div>
<div class="line-holder">
<div class="line"></div>
</div>
<div class="w-layout-grid list-item">
<div class="overflow-hidden">
<div class="slide-in">Petra Bludau</div>
</div>
<div class="overflow-hidden">
<a class="link-cta-with-underline w-inline-block" href="tel:+4921151600602">
<div class="slide-in">+49 211 516006 02</div>
<div class="cta-underline"></div>
</a>
</div>
</div>
<div class="line-holder">
<div class="line"></div>
</div>
</div>
</div>
</div>
{% endblock %}

