{% extends "base.html" %}

{% block preloader %}
  <div class="preloader">
    <img src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb9218_loader_three-dots-white.svg" loading="lazy" alt="" class="preloader-image">
  </div>
{% endblock %}

{% block content %}
<div class="layout" style="opacity:0">
<div class="_1st-section" id="top">
<div class="w-layout-grid contact-grid">
<div class="contact-title-wrap" id="w-node-c1760f95-618e-de8c-6a50-97bf95617497-b6eb91f5">
<h2 class="title-md margin-bottom-zero">Simply leave your<br/></h2>
</div>
<div id="w-node-_4d9cc38d-9091-b3c8-a4b3-a99d3f9cd0c3-b6eb91f5">
<div class="form-block w-form">
<form class="form-vertical" data-name="Email Form" data-wf-element-id="b430aa93-1016-89b8-0baa-6dbee8ec0068" data-wf-page-id="670903a26ae4eb4eb6eb91f5" id="email-form" method="get" name="email-form">
<input class="text-field w-input" data-name="Name 2" id="name-2" maxlength="256" name="name-2" placeholder="Name" type="text"/><input class="text-field w-input" data-name="Email 2" id="email-2" maxlength="256" name="email-2" placeholder="Email" required="" type="email"/>
<textarea class="text-field textarea w-input" data-name="Field 2" id="field-2" maxlength="5000" name="field-2" placeholder="Message">
</textarea><input class="button w-button" data-wait="Please wait..." id="w-node-b430aa93-1016-89b8-0baa-6dbee8ec006c-b6eb91f5" type="submit" value="&amp; Send it"/>
</form>
<div class="success w-form-done">
<div>
                Thank you! Your submission has been received!
              </div>
</div>
<div class="error w-form-fail">
<div>
                Oops! Something went wrong while submitting the form.
              </div>
</div>
</div>
</div>
<div id="w-node-_62738f02-b87c-c418-68cc-fa462cf42939-b6eb91f5">
<div class="scrolling-loop-wrapper">
<div class="scrolling-loop">
<div class="scrolling-loop-item">
<div class="scrolling-text-xl">
                  Contacts
                </div>
<div class="scrolling-text-xl">
                  Contacts
                </div>
<div class="scrolling-text-xl">
                  Contacts
                </div>
<div class="scrolling-text-xl">
                  Contacts
                </div>
<div class="scrolling-text-xl">
                  Contacts
                </div>
</div>
<div class="scrolling-loop-item">
<div class="scrolling-text-xl">
                  Contacts
                </div>
<div class="scrolling-text-xl">
                  Contacts
                </div>
<div class="scrolling-text-xl">
                  Contacts
                </div>
<div class="scrolling-text-xl">
                  Contacts
                </div>
<div class="scrolling-text-xl">
                  Contacts
                </div>
</div>
</div>
</div>
</div>
<div id="w-node-_1e0491dc-da0b-f89e-6fd6-b4aa58159ea0-b6eb91f5">
<div class="w-layout-grid contact-links-grid">
<div class="horizontal-align-center">
<div class="italic">
                instagram/ 
              </div><a class="link-cta-with-underline w-inline-block" href="https://www.instagram.com" target="_blank"></a>
<div>
                @gabe.clarke
              </div>
<div class="cta-underline"></div>
</div>
<div class="horizontal-align-center">
<div class="italic">
                twitter/ 
              </div><a class="link-cta-with-underline w-inline-block" href="https://twitter.com" target="_blank"></a>
<div>
                @gabeclarketenor
              </div>
<div class="cta-underline"></div>
</div>
<div class="horizontal-align-center">
<div class="italic">
                Tiktok/
              </div><a class="link-cta-with-underline w-inline-block" href="https://www.behance.net" target="_blank"></a>
<div>
                @gabe.clarke
              </div>
<div class="cta-underline"></div>
</div>
</div>
</div>
</div>
</div>
<div class="footer-1">
<div class="line-holder on-top">
<div class="line"></div>
</div>
<div class="w-layout-grid footer-1-contact-grid">
<div class="vertical-align-center">
<div class="horizontal-align-center">
<div class="italic">
              a/ 
            </div>
<div>
              234 Nice Street
            </div>
</div>
<div>
            Beautiful City QD 456
          </div>
</div>
<div class="vertical-align-center">
<div class="horizontal-align-center">
<div class="italic">
              e/ 
            </div><a class="link-cta-with-underline w-inline-block" href="mailto:hello@template"></a>
<div>
              hello@template.com
            </div>
<div class="cta-underline"></div>
</div>
<div class="horizontal-align-center">
<div class="italic">
              p/ 
            </div><a class="link-cta-with-underline w-inline-block" href="tel:(+48)56789012"></a>
<div>
              (+48) 567 890 12
            </div>
<div class="cta-underline"></div>
</div>
</div>
</div>
<div class="w-layout-grid footer-1-meta-grid">
<div class="w-layout-grid footer-1-meta-links" id="w-node-_5592e184-a925-fa8d-e2d1-7f52a600a88e-a600a872">
<div id="w-node-_5592e184-a925-fa8d-e2d1-7f52a600a890-a600a872">
             ©
          </div><a class="link-cta-with-underline w-inline-block" href="../template-settings/instructions.html"></a>
<div>
            Instructions
          </div>
<div class="cta-underline"></div><a class="link-cta-with-underline w-inline-block" href="../template-settings/style-guide.html"></a>
<div>
            Style Guide
          </div>
<div class="cta-underline"></div><a class="link-cta-with-underline w-inline-block" href="../template-settings/licensing.html"></a>
<div>
            Licenses
          </div>
<div class="cta-underline"></div><a class="link-cta-with-underline w-inline-block" href="../template-settings/changelog.html"></a>
<div>
            Changelog
          </div>
<div class="cta-underline"></div>
</div><a class="back-to-top w-inline-block" href="contact-1.html#top" id="w-node-_0982b726-7ef1-b14e-c122-3633aa1f7e32-a600a872"></a>
<div class="back-to-top-wrap">
<img alt="" class="back-to-top-image" loading="lazy" src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92cd_icon-next-black-4px.svg"/>
</div>
<div class="w-layout-grid footer-1-meta-links" id="w-node-_26852a9e-cb5f-51df-dff2-a0ede62c2385-a600a872">
<div class="horizontal-align-center" id="w-node-_5592e184-a925-fa8d-e2d1-7f52a600a89f-a600a872">
<div class="italic">
              site by/ 
            </div><a class="link-cta-with-underline w-inline-block" href="https://www.fouroom.co/" target="_blank"></a>
<div>
              Fouroom
            </div>
<div class="cta-underline"></div>
</div>
<div id="w-node-_94e9f2ff-a4e4-3f7a-b68e-76c8fa276b9a-a600a872">
            âœ³
          </div>
<div class="horizontal-align-center" id="w-node-_8cc8d386-20aa-ae69-45b3-4eb4f7aa1585-a600a872">
<div class="italic">
              powered by/ 
            </div><a class="link-cta-with-underline w-inline-block" href="https://www.webflow.com/" target="_blank"></a>
<div>
              Webflow
            </div>
<div class="cta-underline"></div>
</div>
</div>
</div>
</div>
<div class="navbar w-nav" data-animation="default" data-collapse="all" data-duration="0" data-easing="ease" data-easing2="ease" role="banner">
<div class="w-layout-grid navbar-grid">
<a class="brand-fluent w-nav-brand" href="../home/old-home.html" id="w-node-_61741727-a985-f89d-69bc-5bfae82bc78c-e82bc78a"></a>
<div class="logo">
<span class="text-span">Gabe Clarke</span>
</div>
<div class="navbar-name">
<div class="heading-brand">
            Tenor
          </div>
</div>
<div class="w-layout-grid navmenu-grid">
<div id="w-node-_61741727-a985-f89d-69bc-5bfae82bc793-e82bc78a">
<div class="w-layout-grid contact-links-grid">
<div class="horizontal-align-center">
<div class="italic">
                  instagram/ 
                </div><a class="link-cta-with-underline w-inline-block" href="https://www.instagram.com" target="_blank"></a>
<div>
                  @Instagram
                </div>
<div class="cta-underline"></div>
</div>
<div class="horizontal-align-center">
<div class="italic">
                  twitter/ 
                </div><a class="link-cta-with-underline w-inline-block" href="https://twitter.com" target="_blank"></a>
<div>
                  @Twitter
                </div>
<div class="cta-underline"></div>
</div>
<div class="horizontal-align-center">
<div class="italic">
                  behance/ 
                </div><a class="link-cta-with-underline w-inline-block" href="https://www.behance.net" target="_blank"></a>
<div>
                  @Behance
                </div>
<div class="cta-underline"></div>
</div>
</div>
</div>
<div class="w-layout-grid navmenu-grid-halves" id="w-node-_61741727-a985-f89d-69bc-5bfae82bc794-e82bc78a">
<div class="navmenu-line"></div>
<div class="navmenu-links">
<a class="navmenu-link w-inline-block" href="../index.html"></a>
<div class="navmenu-link-trigger color-white">
                01
              </div>
<div class="navmenu-link-trigger">
                Home
              </div>
<div class="navmenu-line divider"></div><a class="navmenu-link w-inline-block" href="../index.html"></a>
<div class="navmenu-link-trigger color-white">
                02
              </div>
<div class="navmenu-link-trigger">
                About
              </div>
<div class="navmenu-line divider"></div><a class="navmenu-link w-inline-block" href="../pages/works.html"></a>
<div class="navmenu-link-trigger color-white">
                03
              </div>
<div class="navmenu-link-trigger">
                Projects
              </div>
<div class="navmenu-line divider"></div><a class="navmenu-link w-inline-block" href="../pages/shop.html"></a>
<div class="navmenu-link-trigger color-white">
                04
              </div>
<div class="navmenu-link-trigger">
                Shop
              </div>
<div class="navmenu-line divider"></div><a aria-current="page" class="navmenu-link w-inline-block w--current" href="contact-1.html"></a>
<div class="navmenu-link-trigger color-white">
                05
              </div>
<div class="navmenu-link-trigger">
                Contacts
              </div>
</div>
<div class="oveflow-hidden">
<div class="horizontal-align-center">
<div class="italic">
                  Buy/ 
                </div><a class="link-cta-with-underline w-inline-block" href="https://webflow.com/templates/html/ofelia-portfolio-website-template" target="_blank"></a>
<div>
                  @Webflow
                </div>
<div class="cta-underline"></div>
</div>
</div>
</div>
</div>
<div class="menu-button w-nav-button" data-w-id="61741727-a985-f89d-69bc-5bfae82bc7e5" id="w-node-_61741727-a985-f89d-69bc-5bfae82bc7e5-e82bc78a">
<div class="menu-btn-text-1">
            drag_handle
          </div>
</div>
</div>
<div class="line-bottom"></div>
</div>
</div>
{% endblock %}
