{% extends "base.html" %}

{% block preloader %}
  <div class="preloader">
    <img src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb9218_loader_three-dots-white.svg" loading="lazy" alt="" class="preloader-image">
  </div>
{% endblock %}

{% block content %}
<div class="layout" style="opacity:0">
<div class="section min-h-85" id="top">
<div class="w-layout-grid grid-3-to-1">
<div>
<h1 class="title-huge">Get In Touch</h1>
</div>
<div class="w-layout-grid contact-links-grid-lg">
<div>
<p class="caption">Email</p><a class="link-cta-with-underline w-inline-block" href="mailto:info@template.io"></a>
<div>
              info@template.io
            </div>
<div class="cta-underline"></div>
</div>
<div>
<p class="caption">Phone</p><a class="link-cta-with-underline w-inline-block" href="tel:+49123456789"></a>
<div>
              +49123456789
            </div>
<div class="cta-underline"></div>
</div>
<div>
<p class="caption">Office</p><a class="link-cta-with-underline multi w-inline-block" href="https://twitter.com/fouroomdotco" target="_blank"></a>
<div class="overflow-hidden">
<div>
                234 Nice Street
              </div>
<div class="cta-underline"></div>
</div>
<div class="overflow-hidden">
<div class="cta-underline"></div>
<div>
                Beautiful City
              </div>
</div>
<div class="overflow-hidden">
<div class="cta-underline"></div>
<div>
                QD 456
              </div>
</div>
</div>
</div>
</div>
</div>
<div class="footer-2">
<div class="footer-2-min-height">
<div class="footer-2-sticky-top">
<div class="footer-2-section">
<div class="w-layout-grid footer-2-subgrid">
<div>
<div class="text-medium">
                  Don't miss a beat, follow us
                </div>
</div>
<div>
<div class="w-layout-grid contact-links-grid">
<div class="horizontal-align-center">
<div class="italic">
                      instagram/ 
                    </div><a class="link-cta-with-underline w-inline-block" href="https://www.instagram.com" target="_blank"></a>
<div>
                      @Instagram
                    </div>
<div class="cta-underline"></div>
</div>
<div class="horizontal-align-center">
<div class="italic">
                      twitter/ 
                    </div><a class="link-cta-with-underline w-inline-block" href="https://twitter.com" target="_blank"></a>
<div>
                      @Twitter
                    </div>
<div class="cta-underline"></div>
</div>
<div class="horizontal-align-center">
<div class="italic">
                      behance/ 
                    </div><a class="link-cta-with-underline w-inline-block" href="https://www.behance.net" target="_blank"></a>
<div>
                      @Behance
                    </div>
<div class="cta-underline"></div>
</div>
</div>
</div>
<div>
<div class="text-medium">
                  We can't wait to meet you.
                </div>
</div>
<div>
<h5 class="caption">Get here</h5>
<div>
<div class="horizontal-align-center">
<div class="italic">
                      a/ 
                    </div>
<div>
                      234 Nice Street
                    </div>
</div>
<div>
                    Beautiful City QD 456
                  </div>
</div>
</div>
<div>
<div class="text-medium">
                  Say hello, set up a meeting?
                </div>
</div>
<div>
<h5 class="caption">Hire us</h5>
<div>
<div class="horizontal-align-center space">
<div class="italic">
                      e/ 
                    </div><a class="link-cta-with-underline w-inline-block" href="mailto:hello@template"></a>
<div>
                      hello@template.com
                    </div>
<div class="cta-underline"></div>
</div>
<div class="horizontal-align-center space">
<div class="italic">
                      p/ 
                    </div><a class="link-cta-with-underline w-inline-block" href="tel:(+48)56789012"></a>
<div>
                      (+48) 567 890 12
                    </div>
<div class="cta-underline"></div>
</div>
<div class="horizontal-align-center top">
<div class="italic">
                      a/ 
                    </div>
<div class="items-horizontal">
<a class="link-cta-with-underline w-inline-block" href="../template-settings/instructions.html"></a>
<div>
                        Instructions
                      </div>
<div class="cta-underline"></div>
<div class="text-block-7">
                          •
                      </div><a class="link-cta-with-underline w-inline-block" href="../template-settings/style-guide.html"></a>
<div>
                        Style Guide
                      </div>
<div class="cta-underline"></div>
<div class="text-block-7">
                          •
                      </div><a class="link-cta-with-underline w-inline-block" href="../template-settings/licensing.html"></a>
<div>
                        Licensing
                      </div>
<div class="cta-underline"></div>
</div>
</div>
</div>
</div>
</div><a class="footer-2-logo w-inline-block" href="../home/old-home.html"><img alt="Logo" class="logo" loading="lazy" src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92cf_logo-white_1-line.svg"/><img alt="Logo" class="logo" loading="lazy" src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92cf_logo-white_1-line.svg"/></a>
</div>
</div>
</div>
</div>
<div class="navbar w-nav" data-animation="default" data-collapse="all" data-duration="0" data-easing="ease" data-easing2="ease" role="banner">
<div class="w-layout-grid navbar-grid">
<a class="brand-fluent w-nav-brand" href="../home/old-home.html" id="w-node-_61741727-a985-f89d-69bc-5bfae82bc78c-e82bc78a"></a>
<div class="logo">
<span class="text-span">Gabe Clarke</span>
</div>
<div class="navbar-name">
<div class="heading-brand">
            Tenor
          </div>
</div>
<div class="w-layout-grid navmenu-grid">
<div id="w-node-_61741727-a985-f89d-69bc-5bfae82bc793-e82bc78a">
<div class="w-layout-grid contact-links-grid">
<div class="horizontal-align-center">
<div class="italic">
                  instagram/ 
                </div><a class="link-cta-with-underline w-inline-block" href="https://www.instagram.com" target="_blank"></a>
<div>
                  @Instagram
                </div>
<div class="cta-underline"></div>
</div>
<div class="horizontal-align-center">
<div class="italic">
                  twitter/ 
                </div><a class="link-cta-with-underline w-inline-block" href="https://twitter.com" target="_blank"></a>
<div>
                  @Twitter
                </div>
<div class="cta-underline"></div>
</div>
<div class="horizontal-align-center">
<div class="italic">
                  behance/ 
                </div><a class="link-cta-with-underline w-inline-block" href="https://www.behance.net" target="_blank"></a>
<div>
                  @Behance
                </div>
<div class="cta-underline"></div>
</div>
</div>
</div>
<div class="w-layout-grid navmenu-grid-halves" id="w-node-_61741727-a985-f89d-69bc-5bfae82bc794-e82bc78a">
<div class="navmenu-line"></div>
<div class="navmenu-links">
<a class="navmenu-link w-inline-block" href="../home/home-2.html"></a>
<div class="navmenu-link-trigger color-white">
                01
              </div>
<div class="navmenu-link-trigger">
                Home
              </div>
<div class="navmenu-line divider"></div><a class="navmenu-link w-inline-block" href="../about/about-2.html"></a>
<div class="navmenu-link-trigger color-white">
                02
              </div>
<div class="navmenu-link-trigger">
                About
              </div>
<div class="navmenu-line divider"></div><a class="navmenu-link w-inline-block" href="../pages/works.html"></a>
<div class="navmenu-link-trigger color-white">
                03
              </div>
<div class="navmenu-link-trigger">
                Projects
              </div>
<div class="navmenu-line divider"></div><a class="navmenu-link w-inline-block" href="../pages/shop.html"></a>
<div class="navmenu-link-trigger color-white">
                04
              </div>
<div class="navmenu-link-trigger">
                Shop
              </div>
<div class="navmenu-line divider"></div><a aria-current="page" class="navmenu-link w-inline-block w--current" href="contact-2.html"></a>
<div class="navmenu-link-trigger color-white">
                05
              </div>
<div class="navmenu-link-trigger">
                Contacts
              </div>
</div>
<div class="oveflow-hidden">
<div class="horizontal-align-center">
<div class="italic">
                  Buy/ 
                </div><a class="link-cta-with-underline w-inline-block" href="https://webflow.com/templates/html/ofelia-portfolio-website-template" target="_blank"></a>
<div>
                  @Webflow
                </div>
<div class="cta-underline"></div>
</div>
</div>
</div>
</div>
<div class="menu-button w-nav-button" data-w-id="61741727-a985-f89d-69bc-5bfae82bc7e5" id="w-node-_61741727-a985-f89d-69bc-5bfae82bc7e5-e82bc78a">
<div class="menu-btn-text-1">
            drag_handle
          </div>
</div>
</div>
<div class="line-bottom"></div>
</div>
</div>
{% endblock %}
