<div class="footer-1">
  <div class="line-holder on-top">
    <div class="line"></div>
  </div>

  <div class="w-layout-grid footer-1-contact-grid">
    <div class="vertical-align-center">
      <div class="horizontal-align-center">
        <div class="italic">
          a/ 
        </div>

        <div>
          234 Nice Street
        </div>
      </div>

      <div>
        Beautiful City QD 456
      </div>
    </div>

    <div class="vertical-align-center">
      <div class="horizontal-align-center">
        <div class="italic">
          e/ 
        </div><a href="mailto:hello@template" class="link-cta-with-underline w-inline-block"></a>

        <div>
          hello@template.com
        </div>

        <div class="cta-underline"></div>
      </div>

      <div class="horizontal-align-center">
        <div class="italic">
          p/ 
        </div><a href="tel:(+48)56789012" class="link-cta-with-underline w-inline-block"></a>

        <div>
          (+48) 567 890 12
        </div>

        <div class="cta-underline"></div>
      </div>
    </div>
  </div>

  <div class="w-layout-grid footer-1-meta-grid">
    <div id="w-node-_5592e184-a925-fa8d-e2d1-7f52a600a88e-a600a872" class="w-layout-grid footer-1-meta-links">
      <div id="w-node-_5592e184-a925-fa8d-e2d1-7f52a600a890-a600a872">
         ©
      </div><a href="{{ asset_path }}template-settings/instructions.html" class="link-cta-with-underline w-inline-block"></a>

      <div>
        Instructions
      </div>

      <div class="cta-underline"></div><a href="{{ asset_path }}template-settings/style-guide.html" class="link-cta-with-underline w-inline-block"></a>

      <div>
        Style Guide
      </div>

      <div class="cta-underline"></div><a href="{{ asset_path }}template-settings/licensing.html" class="link-cta-with-underline w-inline-block"></a>

      <div>
        Licenses
      </div>

      <div class="cta-underline"></div><a href="{{ asset_path }}template-settings/changelog.html" class="link-cta-with-underline w-inline-block"></a>

      <div>
        Changelog
      </div>

      <div class="cta-underline"></div>
    </div><a id="w-node-_0982b726-7ef1-b14e-c122-3633aa1f7e32-a600a872" href="{{ asset_path }}index.html#top" class="back-to-top w-inline-block"></a>

    <div class="back-to-top-wrap">
      <img src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92cd_icon-next-black-4px.svg" loading="lazy" alt="" class="back-to-top-image">
    </div>

    <div id="w-node-_26852a9e-cb5f-51df-dff2-a0ede62c2385-a600a872" class="w-layout-grid footer-1-meta-links">
      <div id="w-node-_5592e184-a925-fa8d-e2d1-7f52a600a89f-a600a872" class="horizontal-align-center">
        <div class="italic">
          site by/ 
        </div><a href="https://www.fouroom.co/" target="_blank" class="link-cta-with-underline w-inline-block"></a>

        <div>
          Fouroom
        </div>

        <div class="cta-underline"></div>
      </div>

      <div id="w-node-_94e9f2ff-a4e4-3f7a-b68e-76c8fa276b9a-a600a872">
        âœ³
      </div>

      <div id="w-node-_8cc8d386-20aa-ae69-45b3-4eb4f7aa1585-a600a872" class="horizontal-align-center">
        <div class="italic">
          powered by/ 
        </div><a href="https://www.webflow.com/" target="_blank" class="link-cta-with-underline w-inline-block"></a>

        <div>
          Webflow
        </div>

        <div class="cta-underline"></div>
      </div>
    </div>
  </div>
</div>







