<div class="footer-1">
  <div class="line-holder on-top">
    <div class="line"></div>
  </div>

  <div class="w-layout-grid footer-1-contact-grid">
    <div class="vertical-align-center">
      <div class="horizontal-align-center">
        <div class="italic" style="margin-right: 1em;">
          e-mail: 
        </div><a href="mailto:info@gabeclarke.com" class="link-cta-with-underline w-inline-block"></a>

        <div>
          info@gabeclarke.com
        </div>

        <div class="cta-underline"></div>
      </div>
    </div>
  </div>

  <div class="w-layout-grid footer-1-meta-grid">
    <div id="w-node-_5592e184-a925-fa8d-e2d1-7f52a600a88e-a600a872" class="w-layout-grid footer-1-meta-links">
      <div id="w-node-_5592e184-a925-fa8d-e2d1-7f52a600a890-a600a872">
        © Gabe Clarke
      </div>
    </div><a id="w-node-_0982b726-7ef1-b14e-c122-3633aa1f7e32-a600a872" href="{{ asset_path }}#top" class="back-to-top w-inline-block"></a>

    <div class="back-to-top-wrap">
      <img src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb92cd_icon-next-black-4px.svg" loading="lazy" alt="" class="back-to-top-image">
    </div>
  </div>
</div>







