<div data-collapse="all" data-animation="default" data-duration="0" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
  <div class="w-layout-grid navbar-grid">
    <a href="{{ asset_path }}" id="w-node-_61741727-a985-f89d-69bc-5bfae82bc78c-e82bc78a" class="brand-fluent w-nav-brand"><div class="logo">
      <span class="text-span">Gabe Clarke</span>
    </div></a>

    <div class="navbar-name" style="display: flex; align-items: center; transform: translateY(0.075em);">
      <div class="heading-brand">
        Tenor
      </div>
    </div>

    <nav class="navmenu w-nav-menu" role="navigation">
    <div class="w-layout-grid navmenu-grid">
      <div id="w-node-_61741727-a985-f89d-69bc-5bfae82bc793-e82bc78a">
        <div class="w-layout-grid contact-links-grid">
          <div class="horizontal-align-center">
            <div class="italic">
              instagram/ 
            </div><a href="https://www.instagram.com" target="_blank" class="link-cta-with-underline w-inline-block"></a>

            <div>
              @Instagram
            </div>

            <div class="cta-underline"></div>
          </div>

          <div class="horizontal-align-center">
            <div class="italic">
              twitter/ 
            </div><a href="https://twitter.com" target="_blank" class="link-cta-with-underline w-inline-block"></a>

            <div>
              @Twitter
            </div>

            <div class="cta-underline"></div>
          </div>

          <div class="horizontal-align-center">
            <div class="italic">
              behance/ 
            </div><a href="https://www.behance.net" target="_blank" class="link-cta-with-underline w-inline-block"></a>

            <div>
              @Behance
            </div>

            <div class="cta-underline"></div>
          </div>
        </div>
      </div>

      <div id="w-node-_61741727-a985-f89d-69bc-5bfae82bc794-e82bc78a" class="w-layout-grid navmenu-grid-halves">
        <div class="navmenu-line"></div>

        <div class="navmenu-links">
          <a href="{{ asset_path }}" {% if current_page == 'index' %}aria-current="page" class="navmenu-link w-inline-block w--current"{% else %}class="navmenu-link w-inline-block"{% endif %}></a>

          <div class="navmenu-link-trigger color-white">
            01
          </div>

          <div class="navmenu-link-trigger">
            Home
          </div>

          <div class="navmenu-line divider"></div><a href="{{ asset_path }}about/about-1.html" class="navmenu-link w-inline-block"></a>

          <div class="navmenu-link-trigger color-white">
            02
          </div>

          <div class="navmenu-link-trigger">
            About
          </div>

          <div class="navmenu-line divider"></div><a href="{{ asset_path }}pages/works.html" class="navmenu-link w-inline-block"></a>

          <div class="navmenu-link-trigger color-white">
            03
          </div>

          <div class="navmenu-link-trigger">
            Projects
          </div>

          <div class="navmenu-line divider"></div><a href="{{ asset_path }}pages/shop.html" class="navmenu-link w-inline-block"></a>

          <div class="navmenu-link-trigger color-white">
            04
          </div>

          <div class="navmenu-link-trigger">
            Shop
          </div>

          <div class="navmenu-line divider"></div><a href="{{ asset_path }}contact/contact-1.html" class="navmenu-link w-inline-block"></a>

          <div class="navmenu-link-trigger color-white">
            05
          </div>

          <div class="navmenu-link-trigger">
            Contacts
          </div>
        </div>

        <div class="oveflow-hidden">
          <div class="horizontal-align-center">
            <div class="italic">
              Buy/ 
            </div><a href="https://webflow.com/templates/html/ofelia-portfolio-website-template" target="_blank" class="link-cta-with-underline w-inline-block"></a>

            <div>
              @Webflow
            </div>

            <div class="cta-underline"></div>
          </div>
        </div>
      </div>
    </div>
    </nav>

    <div id="w-node-_61741727-a985-f89d-69bc-5bfae82bc7e5-e82bc78a" data-w-id="61741727-a985-f89d-69bc-5bfae82bc7e5" class="menu-button w-nav-button">
      <div class="menu-btn-text-1">
        drag_handle
      </div>
    </div>
  </div>

  <div class="line-bottom"></div>
</div>
