<div data-collapse="all" data-animation="default" data-duration="0" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
  <div class="w-layout-grid navbar-grid">
    <a href="/" id="w-node-_61741727-a985-f89d-69bc-5bfae82bc78c-e82bc78a" class="brand-fluent w-nav-brand"><div class="logo">
      <span class="text-span">Gabe Clarke</span>
    </div></a>

    <div class="navbar-name" style="display: flex; align-items: center; transform: translateY(0.075em);">
      <div class="heading-brand">
        Tenor
      </div>
    </div>

    <nav class="navmenu w-nav-menu" role="navigation">
    <div class="w-layout-grid navmenu-grid">
      <div id="w-node-_61741727-a985-f89d-69bc-5bfae82bc793-e82bc78a">
        <div class="w-layout-grid contact-links-grid">
          <div class="horizontal-align-center">
            <div class="italic">
              instagram/
            </div><a href="https://www.instagram.com/gabe.clarke/" target="_blank" class="link-cta-with-underline w-inline-block">
              <div>@gabe.clarke</div>
              <div class="cta-underline"></div>
            </a>
          </div>

          <div class="horizontal-align-center">
            <div class="italic">
              twitter/
            </div><a href="https://twitter.com/gabeclarketenor" target="_blank" class="link-cta-with-underline w-inline-block">
              <div>@gabeclarketenor</div>
              <div class="cta-underline"></div>
            </a>
          </div>

          <div class="horizontal-align-center">
            <div class="italic">
              operabase/
            </div><a href="https://www.operabase.com/gabe-clarke-a2123782" target="_blank" class="link-cta-with-underline w-inline-block">
              <div>Operabase</div>
              <div class="cta-underline"></div>
            </a>
          </div>
        </div>
      </div>

      <div id="w-node-_61741727-a985-f89d-69bc-5bfae82bc794-e82bc78a" class="w-layout-grid navmenu-grid-halves">
        <div class="navmenu-line"></div>

        <div class="navmenu-links">
          <a href="{{ asset_path }}" {% if current_page == 'index' %}aria-current="page" class="navmenu-link w-inline-block w--current"{% else %}class="navmenu-link w-inline-block"{% endif %}>
            <div class="navmenu-link-trigger color-white">
              01
            </div>

            <div class="navmenu-link-trigger">
              Home
            </div>
          </a>

          <div class="navmenu-line divider"></div><a href="{{ asset_path }}about/" class="navmenu-link w-inline-block">
            <div class="navmenu-link-trigger color-white">
              02
            </div>

            <div class="navmenu-link-trigger">
              About
            </div>
          </a>

          <div class="navmenu-line divider"></div><a href="{{ asset_path }}media/" class="navmenu-link w-inline-block">
            <div class="navmenu-link-trigger color-white">
              03
            </div>

            <div class="navmenu-link-trigger">
              Media
            </div>
          </a>

          <div class="navmenu-line divider"></div><a href="{{ asset_path }}performances/" class="navmenu-link w-inline-block">
            <div class="navmenu-link-trigger color-white">
              04
            </div>

            <div class="navmenu-link-trigger">
              Performances
            </div>
          </a>

          <div class="navmenu-line divider"></div><a href="{{ asset_path }}press/" class="navmenu-link w-inline-block">
            <div class="navmenu-link-trigger color-white">
              05
            </div>

            <div class="navmenu-link-trigger">
              Press
            </div>
          </a>

          <div class="navmenu-line divider"></div><a href="{{ asset_path }}contact/" class="navmenu-link w-inline-block">
            <div class="navmenu-link-trigger color-white">
              06
            </div>

            <div class="navmenu-link-trigger">
              Contact
            </div>
          </a>
        </div>

      </div>
    </div>
    </nav>

    <div id="w-node-_61741727-a985-f89d-69bc-5bfae82bc7e5-e82bc78a" data-w-id="61741727-a985-f89d-69bc-5bfae82bc7e5" class="menu-button w-nav-button">
      <div class="menu-btn-text-1">
        drag_handle
      </div>
      <div class="menu-btn-text-2">
        close
      </div>
    </div>
  </div>

  <div class="line-bottom"></div>
</div>
