{% extends "base.html" %}

{% block preloader %}
  <div class="preloader">
    <img src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb9218_loader_three-dots-white.svg" loading="lazy" alt="" class="preloader-image">
  </div>
{% endblock %}

{% block content %}
<div style="opacity:0" class="layout">
    <div id="top" class="works-header">
      <p class="caption">Vincenzo Bellini</p>

      <h1 class="work-title">La Sonnambula</h1>

      <div data-w-id="c024be24-01c9-7184-76c3-b79b1fbd8215" class="work-wrap">
        <img height="100" loading="lazy" width="456" src="{{ asset_path }}assets/670903a26ae4eb4eb6eb91a2/670f9ccd7295c99fcdd01ffb_WhatsApp Image 2024-07-17 at 13.17.10 copy CROPPED.jpeg" alt="" srcset="{{ asset_path }}assets/670903a26ae4eb4eb6eb91a2/670f9ccd7295c99fcdd01ffb_WhatsApp Image 2024-07-17 at 13.17.10 copy CROPPED-p-500.jpeg 500w, ../assets/670903a26ae4eb4eb6eb91a2/670f9ccd7295c99fcdd01ffb_WhatsApp Image 2024-07-17 at 13.17.10 copy CROPPED-p-800.jpeg 800w, ../assets/670903a26ae4eb4eb6eb91a2/670f9ccd7295c99fcdd01ffb_WhatsApp Image 2024-07-17 at 13.17.10 copy CROPPED.jpeg 912w" sizes="(max-width: 479px) 100vw, 455.998291015625px" class="work-image">
      </div>

      <div id="w-node-c31335fb-4098-a469-e2d8-dcfa18fb5f44-b6eb91fb" class="credits-wrap">
        <div class="rich-text-block w-richtext">
          <p>Ópera de la vera — Ras de terra</p>

          <p>Opera semiseria in due atti (1831)</p>

          <p>Musica di Vincenzo Bellini (1801-1835)</p>

          <p>Libretto di Felice Romani basato sul balletto-pantomima La sonnambule, ou L'arrivée d'un nouveau seigneur, di Eugène Scribe Rappresentato per la prima volta al Teatro Cercano di Milano il 6 marzo 1831.</p>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="margin-bottom-medium">
        <div class="content-wide">
          <div id="w-node-dd558cf5-634e-a012-73e5-15a754cd8af3-b6eb91fb" class="text-align-center">
            <h4>El Festival Ópera de La Vera consolida su prestigio con una interpretación magistral de "La Sonámbula" de Bellini, recibiendo el merecido reconocimiento del público.</h4>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="_2-columns-text w-richtext">
          <p>La representación de 'La Sonnambula' en Villanueva de la Vera fue un rotundo éxito, recibiendo una ovación de pie del público. La noche del 8 de junio, el pabellón multiusos vibró con la pasión y el talento de un elenco excepcional. Annie Fassea y Gabe Clarke brillaron en sus respectivos papeles, ofreciendo interpretaciones memorables que cautivaron al público. Fassea, como Amina, demostró su habilidad para transmitir emociones a través de su voz y su presencia escénica. Clarke, como Elvino, destacó por su técnica vocal impecable y su capacidad para interpretar personajes complejos. La puesta en escena, dirigida por William Constabile Cisco, combinó a la perfección elementos clásicos y contemporáneos, gracias al exquisito diseño de vestuario de Macarena Folache y la escenografía de Mónica Sánchez-Robles."</p>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="cms w-dyn-list">
        <script type="text/x-wf-template" id="wf-template-2dccc9ed-64f4-0cfc-dba0-216eb5596a4a">
%3Cdiv%20role%3D%22listitem%22%20class%3D%22w-dyn-item%20w-dyn-repeater-item%22%3E%3Cdiv%20class%3D%22overflow-hidden%22%3E%3Cdiv%20class%3D%22trigger-parallax%22%3E%3Cimg%20src%3D%22https%3A%2F%2Fcdn.prod.website-files.com%2F670903a26ae4eb4eb6eb920a%2F670903a26ae4eb4eb6eb920e_pexels-photo-9452992.jpeg%22%20loading%3D%22lazy%22%20alt%3D%22%22%20class%3D%22image-cover%22%2F%3E%3C%2Fdiv%3E%3C%2Fdiv%3E%3C%2Fdiv%3E
        </script>

        <div role="list" class="project-images w-dyn-items">
          <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
            <div class="overflow-hidden">
              <div class="trigger-parallax">
                <img src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb920a/670903a26ae4eb4eb6eb920e_pexels-photo-9452992.jpeg" loading="lazy" alt="" class="image-cover">
              </div>
            </div>
          </div>

          <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
            <div class="overflow-hidden">
              <div class="trigger-parallax">
                <img src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb920a/670903a26ae4eb4eb6eb9327_pexels-photo-9852577.jpeg" loading="lazy" alt="" class="image-cover">
              </div>
            </div>
          </div>

          <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
            <div class="overflow-hidden">
              <div class="trigger-parallax">
                <img src="{{ asset_path }}assets/670903a26ae4eb4eb6eb920a/671238473d993960b462f69f_WhatsApp Image 2024-07-17 at 13.15.31 (2).jpeg" loading="lazy" alt="" sizes="100vw" srcset="{{ asset_path }}assets/670903a26ae4eb4eb6eb920a/671238473d993960b462f69f_WhatsApp Image 2024-07-17 at 13.15.31 (2)-p-500.jpeg 500w, ../assets/670903a26ae4eb4eb6eb920a/671238473d993960b462f69f_WhatsApp Image 2024-07-17 at 13.15.31 (2)-p-800.jpeg 800w, ../assets/670903a26ae4eb4eb6eb920a/671238473d993960b462f69f_WhatsApp Image 2024-07-17 at 13.15.31 (2).jpeg 1066w" class="image-cover">
              </div>
            </div>
          </div>

          <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
            <div class="overflow-hidden">
              <div class="trigger-parallax">
                <img src="{{ asset_path }}assets/670903a26ae4eb4eb6eb920a/671238477c5633dce4690aca_WhatsApp Image 2024-07-17 at 13.39.30 (1).jpeg" loading="lazy" alt="" sizes="100vw" srcset="{{ asset_path }}assets/670903a26ae4eb4eb6eb920a/671238477c5633dce4690aca_WhatsApp Image 2024-07-17 at 13.39.30 (1)-p-500.jpeg 500w, ../assets/670903a26ae4eb4eb6eb920a/671238477c5633dce4690aca_WhatsApp Image 2024-07-17 at 13.39.30 (1)-p-800.jpeg 800w, ../assets/670903a26ae4eb4eb6eb920a/671238477c5633dce4690aca_WhatsApp Image 2024-07-17 at 13.39.30 (1).jpeg 1066w" class="image-cover">
              </div>
            </div>
          </div>

          <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
            <div class="overflow-hidden">
              <div class="trigger-parallax">
                <img src="{{ asset_path }}assets/670903a26ae4eb4eb6eb920a/671238471df9ab66ff54d779_ras-de-terra-Opera-La-Sonnambula_2.jpg" loading="lazy" alt="" sizes="100vw" srcset="{{ asset_path }}assets/670903a26ae4eb4eb6eb920a/671238471df9ab66ff54d779_ras-de-terra-Opera-La-Sonnambula_2-p-500.jpg 500w, ../assets/670903a26ae4eb4eb6eb920a/671238471df9ab66ff54d779_ras-de-terra-Opera-La-Sonnambula_2-p-800.jpg 800w, ../assets/670903a26ae4eb4eb6eb920a/671238471df9ab66ff54d779_ras-de-terra-Opera-La-Sonnambula_2.jpg 1000w" class="image-cover">
              </div>
            </div>
          </div>

          <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
            <div class="overflow-hidden">
              <div class="trigger-parallax">
                <img src="{{ asset_path }}assets/670903a26ae4eb4eb6eb920a/671238473d993960b462f6bf_WhatsApp Image 2024-07-17 at 13.23.06 (6).jpeg" loading="lazy" alt="" sizes="100vw" srcset="{{ asset_path }}assets/670903a26ae4eb4eb6eb920a/671238473d993960b462f6bf_WhatsApp Image 2024-07-17 at 13.23.06 (6)-p-500.jpeg 500w, ../assets/670903a26ae4eb4eb6eb920a/671238473d993960b462f6bf_WhatsApp Image 2024-07-17 at 13.23.06 (6)-p-800.jpeg 800w, ../assets/670903a26ae4eb4eb6eb920a/671238473d993960b462f6bf_WhatsApp Image 2024-07-17 at 13.23.06 (6)-p-1080.jpeg 1080w, ../assets/670903a26ae4eb4eb6eb920a/671238473d993960b462f6bf_WhatsApp Image 2024-07-17 at 13.23.06 (6).jpeg 1600w" class="image-cover">
              </div>
            </div>
          </div>
        </div>

        <div class="error w-dyn-hide w-dyn-empty">
          <div>
            No items found.
          </div>
        </div>
      </div>
    </div>

    <div class="section vertical-align-center overflow-hidden">
      <div class="w-layout-grid next-caption">
        <div>
          Next Project
        </div>
      </div>

      <h2 class="next-work-title"><a href="{{ asset_path }}works/die-fledermaus/" class="next-work w-inline-block">DIe Fledermaus</a></h2>

      <div data-w-id="607b8640-76e6-dc56-163b-3d8fd0364143" class="next-work-image-1">
        <a href="{{ asset_path }}works/die-fledermaus/" class="next-work w-inline-block"></a>

        <div class="perspective">
          <div class="transform-negative">
            <div class="overlap-image-wrapper">
              <div class="trigger-parallax">
                <img src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb920a/670903a26ae4eb4eb6eb9297_work-thumb-03-artist-webflow-html-template.jpeg" loading="lazy" alt="" class="image-cover">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div data-w-id="607b8640-76e6-dc56-163b-3d8fd0364149" class="next-work-image-2">
        <div class="perspective">
          <div class="transform-positive">
            <div class="overlap-image-wrapper">
              <div class="trigger-parallax">
                <img src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb920a/670903a26ae4eb4eb6eb92ef_work-main-03-artist-webflow-html-template.jpeg" loading="lazy" alt="" class="image-cover">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
