{% extends "base.html" %}

{% block preloader %}
  <div class="preloader">
    <img src="https://cdn.prod.website-files.com/670903a26ae4eb4eb6eb91a2/670903a26ae4eb4eb6eb9218_loader_three-dots-white.svg" loading="lazy" alt="" class="preloader-image">
  </div>
{% endblock %}

{% block content %}
<div class="layout" style="opacity:0">
<div class="section-rounded-wrap">
<div class="overflow-hidden">
<div class="section-rounded-bottom bg-gray-1">
<div class="div-inside-top">
<div class="title-2xl">
            Gabe
          </div>
</div>
<div class="w-layout-grid gallery-grid">
<div id="w-node-_49104b29-c69d-c7c6-5e1e-0546f6cacc9c-b6eb91f0" data-w-id="49104b29-c69d-c7c6-5e1e-0546f6cacc9c">
<div class="perspective">
<div class="transform-positive">
<div class="image-wrapper">
<div class="trigger-parallax">
<div class="image-wrapper-1-1">
<img src="{{ asset_path }}assets/670903a26ae4eb4eb6eb91a2/670a61734ec8d5eeb616cc66_IMG_7337 copy.jpg" loading="lazy" sizes="100vw" srcset="{{ asset_path }}assets/670903a26ae4eb4eb6eb91a2/670a61734ec8d5eeb616cc66_IMG_7337 copy-p-500.jpg 500w, {{ asset_path }}assets/670903a26ae4eb4eb6eb91a2/670a61734ec8d5eeb616cc66_IMG_7337 copy-p-800.jpg 800w, {{ asset_path }}assets/670903a26ae4eb4eb6eb91a2/670a61734ec8d5eeb616cc66_IMG_7337 copy-p-1080.jpg 1080w, {{ asset_path }}assets/670903a26ae4eb4eb6eb91a2/670a61734ec8d5eeb616cc66_IMG_7337 copy-p-1600.jpg 1600w, {{ asset_path }}assets/670903a26ae4eb4eb6eb91a2/670a61734ec8d5eeb616cc66_IMG_7337 copy-p-2000.jpg 2000w, {{ asset_path }}assets/670903a26ae4eb4eb6eb91a2/670a61734ec8d5eeb616cc66_IMG_7337 copy-p-2600.jpg 2600w, {{ asset_path }}assets/670903a26ae4eb4eb6eb91a2/670a61734ec8d5eeb616cc66_IMG_7337 copy.jpg 3106w" alt="" class="image-background">
</div>
</div>
<div class="image-overlay bg-gray-1"></div>
</div>
</div>
</div>
</div>
<div>
<div class="perspective">
<div class="image-wrapper">
<div class="trigger-parallax">
<img src="{{ asset_path }}assets/670903a26ae4eb4eb6eb91a2/670b862ce809b53b5f730f7d_IMG_1021 edit.JPG" loading="lazy" sizes="100vw" srcset="{{ asset_path }}assets/670903a26ae4eb4eb6eb91a2/670b862ce809b53b5f730f7d_IMG_1021 edit-p-500.jpg 500w, {{ asset_path }}assets/670903a26ae4eb4eb6eb91a2/670b862ce809b53b5f730f7d_IMG_1021 edit-p-800.jpg 800w, {{ asset_path }}assets/670903a26ae4eb4eb6eb91a2/670b862ce809b53b5f730f7d_IMG_1021 edit-p-1080.jpg 1080w, {{ asset_path }}assets/670903a26ae4eb4eb6eb91a2/670b862ce809b53b5f730f7d_IMG_1021 edit-p-1600.jpg 1600w, {{ asset_path }}assets/670903a26ae4eb4eb6eb91a2/670b862ce809b53b5f730f7d_IMG_1021 edit.JPG 1823w" alt="" class="image-cover">
</div>
<div class="image-overlay bg-gray-1"></div>
</div>
</div>
</div>
<div id="w-node-_11cdac26-2061-3ed8-719a-2e9b7d4da8cd-b6eb91f0" data-w-id="11cdac26-2061-3ed8-719a-2e9b7d4da8cd">
<div class="perspective">
<div class="transform-negative">
<div class="image-wrapper">
<div class="trigger-parallax">
<div class="image-wrapper-1-1">
<img src="{{ asset_path }}assets/670903a26ae4eb4eb6eb91a2/670a61997cb7024ec5ec8836_highres1 cop website.jpg" loading="lazy" sizes="100vw" srcset="{{ asset_path }}assets/670903a26ae4eb4eb6eb91a2/670a61997cb7024ec5ec8836_highres1 cop website-p-500.jpg 500w, {{ asset_path }}assets/670903a26ae4eb4eb6eb91a2/670a61997cb7024ec5ec8836_highres1 cop website-p-800.jpg 800w, {{ asset_path }}assets/670903a26ae4eb4eb6eb91a2/670a61997cb7024ec5ec8836_highres1 cop website-p-1080.jpg 1080w, {{ asset_path }}assets/670903a26ae4eb4eb6eb91a2/670a61997cb7024ec5ec8836_highres1 cop website-p-1600.jpg 1600w, {{ asset_path }}assets/670903a26ae4eb4eb6eb91a2/670a61997cb7024ec5ec8836_highres1 cop website.jpg 2000w" alt="" class="image-background">
</div>
</div>
<div class="image-overlay bg-gray-1"></div>
</div>
</div>
</div>
</div>
</div>
<div class="div-inside-bottom">
<div class="title-2xl">
            Clarke
          </div>
</div>
</div>
</div>
</div>
</div>
<div class="section">
<div class="content">
<div class="margin-bottom-medium">
<h4>Template Pages</h4>
<p>The following pages are template examples available for reference:</p>
</div>
<div class="w-layout-grid list-grid">
<div class="w-layout-grid list-item">
<div class="overflow-hidden">
<div class="slide-in">
<h5>About Pages</h5>
</div>
</div>
<div class="overflow-hidden">
<div class="slide-in">
<a href="{{ asset_path }}about/about-1.html" class="link-cta-with-underline w-inline-block">About 1</a>
</div>
</div>
<div class="overflow-hidden">
<div class="slide-in">
<a href="{{ asset_path }}about/about-3.html" class="link-cta-with-underline w-inline-block">About 3</a>
</div>
</div>
</div>
<div class="line-holder">
<div class="line"></div>
</div>
<div class="w-layout-grid list-item">
<div class="overflow-hidden">
<div class="slide-in">
<h5>Pages</h5>
</div>
</div>
<div class="overflow-hidden">
<div class="slide-in">
<a href="{{ asset_path }}media/" class="link-cta-with-underline w-inline-block">Works</a>
</div>
</div>
<div class="overflow-hidden">
<div class="slide-in">
<a href="{{ asset_path }}pages/shop.html" class="link-cta-with-underline w-inline-block">Shop</a>
</div>
</div>
</div>
<div class="line-holder">
<div class="line"></div>
</div>
<div class="w-layout-grid list-item">
<div class="overflow-hidden">
<div class="slide-in">
<h5>Categories</h5>
</div>
</div>
<div class="overflow-hidden">
<div class="slide-in">
<a href="{{ asset_path }}category/ceramic.html" class="link-cta-with-underline w-inline-block">Ceramic</a>
</div>
</div>
<div class="overflow-hidden">
<div class="slide-in">
<a href="{{ asset_path }}category/prints.html" class="link-cta-with-underline w-inline-block">Prints</a>
</div>
</div>
<div class="overflow-hidden">
<div class="slide-in">
<a href="{{ asset_path }}category/figurines.html" class="link-cta-with-underline w-inline-block">Figurines</a>
</div>
</div>
</div>
<div class="line-holder">
<div class="line"></div>
</div>
<div class="w-layout-grid list-item">
<div class="overflow-hidden">
<div class="slide-in">
<h5>Projects</h5>
</div>
</div>
<div class="overflow-hidden">
<div class="slide-in">
<a href="{{ asset_path }}works/la-sonnambula/" class="link-cta-with-underline w-inline-block">La Sonnambula</a>
</div>
</div>
<div class="overflow-hidden">
<div class="slide-in">
<a href="{{ asset_path }}works/masterclass-rolando-villazon/" class="link-cta-with-underline w-inline-block">Masterclass: Rolando Villazón</a>
</div>
</div>
</div>
<div class="line-holder">
<div class="line"></div>
</div>
<div class="w-layout-grid list-item">
<div class="overflow-hidden">
<div class="slide-in">
<h5>Contact Templates</h5>
</div>
</div>
<div class="overflow-hidden">
<div class="slide-in">
<a href="{{ asset_path }}contact/contact-1.html" class="link-cta-with-underline w-inline-block">Contact 1</a>
</div>
</div>
<div class="overflow-hidden">
<div class="slide-in">
<a href="{{ asset_path }}contact/contact-2.html" class="link-cta-with-underline w-inline-block">Contact 2</a>
</div>
</div>
<div class="overflow-hidden">
<div class="slide-in">
<a href="{{ asset_path }}contact/contact-3.html" class="link-cta-with-underline w-inline-block">Contact 3</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
